/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: me-font;
    src: url('../fonts/DroidKufi-Regular.eot');
    src: url('../fonts/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DroidKufi-Regular.woff') format('woff'),
    url('../fonts/DroidKufi-Regular.ttf') format('truetype'),
    url('../fonts/DroidKufi-Regular.svg#thesansplain') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
.spinner-container {
    background-color: rgba(203, 203, 203,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;/*  This ensures the container takes the full viewport height */ 
    width: 100vw; /* This ensures the container takes the full viewport width */
    position: fixed; /* This will position the container fixed relative to the viewport */
    top: 0;
    left: 0;
    z-index: 99;
  }
  .mat-progress-spinner .mat-spinner-path {
    stroke:#444 !important;
  }
  
  .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #444 !important;
  }
body.smart-rtl{font-family: me-font !important}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    direction: ltr;


}



.Lang .arlangimag {
    height: 25px;
    width: 30px;
    color: #fff;
    /* background: url(../img/ar-SA.png) no-repeat;
    background-size: 25px 25px;
    background-repeat: no-repeat;*/
}

.Lang .enlangimag {
    width: 30px;
    color: #fff;
    /* background: url(../img/en-US.png) no-repeat;
    background-size: 25px 25px;
    background-repeat: no-repeat;*/
}

.TBL_Wrapper{    padding-top: 20px;
    border-top: 1px #c3c3c3 solid;
    margin-top: 20px;}
body, h1, h2, h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    color: #373a3c;
}

.datepicker.datepicker-rtl {
    left: auto !important;
}

.form-control.ng-touched.ng-invalid {
    border: 1px solid red;
}

.has-error .form-control {
    border: 1px solid red;
}

body.smart-rtl {
    direction: rtl!important;
}

.smart-rtl {
    overflow-x: hidden;
}

/*--------ng-busy---------------*/

.ng-busy {
    z-index: 2002;
}

.ng-busy, .ng-busy>* {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.ng-busy-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background: #fff;
    opacity: .7;
}

.ng-busy-default-wrapper {
    text-align: center;
}

.ng-busy-default-sign {
    position: relative;
    display: inline-block;
    z-index: 1003;
    padding: 12px 14px;
    border: 1px solid #d8d8d8;
    border-top: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background: #f8f8f8;
    color: #333;
}

.ng-busy-default-text {
    display: inline-block;
    margin-left: 6px;
    max-width: 400px;
    font-size: 14px;
    text-align: left;
}

.ng-busy-default-spinner {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.ng-busy-default-spinner div {
    position: absolute;
    left: 44.5%;
    top: 37%;
    width: 10%;
    height: 26%;
    background: #666;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-animation: busy-spinner-anim 1s linear infinite;
    animation: busy-spinner-anim 1s linear infinite;
}

.ng-busy-default-spinner .bar1 {
    -webkit-transform: rotate(0deg) translate(0, -142%);
    transform: rotate(0deg) translate(0, -142%);
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.ng-busy-default-spinner .bar2 {
    -webkit-transform: rotate(30deg) translate(0, -142%);
    transform: rotate(30deg) translate(0, -142%);
    -webkit-animation-delay: -0.91666667s;
    animation-delay: -0.91666667s;
}

.ng-busy-default-spinner .bar3 {
    -webkit-transform: rotate(60deg) translate(0, -142%);
    transform: rotate(60deg) translate(0, -142%);
    -webkit-animation-delay: -0.83333333s;
    animation-delay: -0.83333333s;
}

.ng-busy-default-spinner .bar4 {
    -webkit-transform: rotate(90deg) translate(0, -142%);
    transform: rotate(90deg) translate(0, -142%);
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}

.ng-busy-default-spinner .bar5 {
    -webkit-transform: rotate(120deg) translate(0, -142%);
    transform: rotate(120deg) translate(0, -142%);
    -webkit-animation-delay: -0.66666667s;
    animation-delay: -0.66666667s;
}

.ng-busy-default-spinner .bar6 {
    -webkit-transform: rotate(150deg) translate(0, -142%);
    transform: rotate(150deg) translate(0, -142%);
    -webkit-animation-delay: -0.58333333s;
    animation-delay: -0.58333333s;
}

.ng-busy-default-spinner .bar7 {
    -webkit-transform: rotate(180deg) translate(0, -142%);
    transform: rotate(180deg) translate(0, -142%);
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.ng-busy-default-spinner .bar8 {
    -webkit-transform: rotate(210deg) translate(0, -142%);
    transform: rotate(210deg) translate(0, -142%);
    -webkit-animation-delay: -0.41666667s;
    animation-delay: -0.41666667s;
}

.ng-busy-default-spinner .bar9 {
    -webkit-transform: rotate(240deg) translate(0, -142%);
    transform: rotate(240deg) translate(0, -142%);
    -webkit-animation-delay: -0.33333333s;
    animation-delay: -0.33333333s;
}

.ng-busy-default-spinner .bar10 {
    -webkit-transform: rotate(270deg) translate(0, -142%);
    transform: rotate(270deg) translate(0, -142%);
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}

.ng-busy-default-spinner .bar11 {
    -webkit-transform: rotate(300deg) translate(0, -142%);
    transform: rotate(300deg) translate(0, -142%);
    -webkit-animation-delay: -0.16666667s;
    animation-delay: -0.16666667s;
}

.ng-busy-default-spinner .bar12 {
    -webkit-transform: rotate(330deg) translate(0, -142%);
    transform: rotate(330deg) translate(0, -142%);
    -webkit-animation-delay: -0.08333333s;
    animation-delay: -0.08333333s;
}

@-webkit-keyframes busy-spinner-anim {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.25;
    }
}

@keyframes busy-spinner-anim {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.25;
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
        ;
    }
    100% {
        transform: rotate(360deg);
        ;
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        ;
    }
    100% {
        -moz-transform: rotate(360deg);
        ;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        ;
    }
    100% {
        transform: rotate(360deg);
        ;
    }
}

/*--------ng-busy---------------*/

/*--------Start Loader---------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #fff;
}

#preloader>div {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #c73d92;
    transform: translate3d(0, 0, 0);
    animation: spin 2s linear infinite;
    ;
}

#preloader>div:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #534689;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    ;
}

#preloader>div:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #cacacc;
    animation: spin 1.5s linear infinite;
    ;
}

/*--------Start Loader---------------*/

/*--------Start Loader2---------------*/

.preloader2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

}

.preloader2>div {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #c73d92;
    transform: translate3d(0, 0, 0);
    animation: spin 2s linear infinite;
    ;
}

.preloader2>div:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #534689;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    ;
}

.preloader2>div:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #cacacc;
    animation: spin 1.5s linear infinite;
    ;
}

/*--------Start Loader2---------------*/

/*******************Login Form**********************/

.parent-form_login {
    margin: auto;
    max-width: 300px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 5px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
    color: #555;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.img-responsive {
    max-width: 150px;
    max-height: 110px;
    /* min-width: 120px; */
    min-height: 110px;
    border: 1px solid #f2dede;
    /* object-fit: cover; */
    border-radius: 5px;
}

.modal-body .img-responsive {
    max-width: 100%;
}

.bt-action {
    margin: 10px;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    height: 1em;
}

.profile-email {
    display: block;
    padding: 0 8px;
    font-size: 15px;
    color: #404040;
    line-height: 2;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.need-help {
    display: block;
    margin-top: 10px;
}

.new-account {
    display: block;
    margin-top: 10px;
}

.checkbox label:after, .radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr, .radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 22px;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    padding-top: 20px;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon, .radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon, .radio label input[type="radio"]+.cr>.cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon, .radio label input[type="radio"]:checked+.cr>.cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr, .radio label input[type="radio"]:disabled+.cr {
    opacity: .5;
}

/*******************Login Form**********************/

/*///////////////////*/

/* access denied*/

#fof {
    display: block;
    width: 100%;
    margin: 100px 0;
    line-height: 1.6em;
    text-align: center;
}

#fof .hgroup {
    text-transform: uppercase;
}

#fof .hgroup h1 {
    margin-bottom: 25px;
    font-size: 80px;
}

#fof .hgroup h1 span {
    display: inline-block;
    margin-left: 5px;
    padding: 2px;
    border: 1px solid #CCCCCC;
    overflow: hidden;
}

#fof .hgroup h1 span strong {
    display: inline-block;
    padding: 0 20px 20px;
    border: 1px solid #CCCCCC;
    font-weight: normal;
}

#fof .hgroup h2 {
    font-size: 60px;
}

#fof .hgroup h2 span {
    display: block;
    font-size: 30px;
}

#fof p {
    margin: 25px 0 0 0;
    padding: 0;
    font-size: 16px;
}

#fof p:first-child {
    margin-top: 0;
}

/*/////////////////*/

/*=========================================================================================================

									Public UPDATEs 03-11-2016 - Services Timeline Forms

===========================================================================================================*/

.smart-rtl .Tlf {
    overflow: hidden;
    position: relative;
   direction: rtl
}
.form-en .Tlf{ direction: ltr}
.Tlf:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 30px;
    height: 100%;
    width: 3px;
    background: #eee;
}
.form-en .Tlf:before{left: 52px;right:auto}

.Serv-detail {
    padding-right: 70px;
    position: relative;
    margin-bottom: 30px
}
.form-en .Serv-detail{padding-left: 70px;}

.Serv-detail:before {
    content: ' ';
    position: absolute;
    color: #fff;
    top: 0px;
    right: 14px;
    width: 36px;
    height: 36px;
    background: #53448b;
    border-radius: 50%;
}
.form-en .Serv-detail:before{left: 20px}
.Serv-detail:after {
    content: '\f15c';
    position: absolute;
    color: #fff;
    top: 2px;
    right: 16px;
    width: 32px;
    height: 32px;
    background: #53448b;
    border-radius: 50%;
    border: 3px #fff solid;
    padding: 3px 6px;
    font-family: 'FontAwesome';
    font-size: 14px;
}
.form-en .Serv-detail:after{left: 22px;}
.Tlf .serv-title {
    font-size: 20px;
    margin-bottom: 10px
}

.Tlf .serv-nam {
    font-size: 27px;
    color: black;
    font-weight: bold;
    padding-left: 15px;
    text-align: right
}

.Tlf .rq-num {
    border-right: 1px #d2d2d2 solid;
    padding-right: 15px;
    display: inline-block
}
.form-en .Tlf .rq-num{    border-right: 0px;border-left: 1px #d2d2d2 solid;padding-left: 15px;}
.Tlf .servDetialTBL {
    border: 1px #dfdbef solid;
    border-radius: 7px;
    border-bottom-width: 5px;
    padding: 4px;
    overflow: hidden
}

.Tlf .servDetialHD {
    background: #dfdbef;
    border-radius: 6px 6px 0 0;
    padding: 10px 15px
}

.Tlf .servDetialHD .User, .Tlf .servDetialHD .date {
    color: #000;
    font-size: 15px;
}

.Tlf .servDetialHD .User {
    font-weight: bold;
}

.Tlf .servDetialHD .User span {
    font-size: 12px;
    font-weight: bold;
    padding: 0px 4px 0px 0px !important;
}

.Tlf .servDetialHD .date label:before {
    content: '\f073';
    font-family: 'FontAwesome';
    float: right;
    margin-left: 10px;
}

.Tlf .Serv-detail .form-detail {
    padding: 2px 15px
}

.Tlf .Serv-detail .form-detail:nth-child(2) {
    padding-top: 13px !important
}

.Tlf .Serv-detail .panel-12 .form-detail:nth-child(2) {
    padding-top: 0px !important
}

.Tlf .servDetialTBL .cell-12, .Tlf .servDetialTBL .panel-12 {
    padding: 0px !important
}

.Tlf .servDetialTBL .panel-12 {
    background: #fff;
    margin-bottom: 0px;
}

.Tlf .servDetialTBL .row {
    margin: 0px !important
}

.Tlf .servDetialTBL .form-detail label.cell-3 {
    width: 30%
}

.Tlf .TaskTBL {
    padding-right: 70px;
    position: relative;
    margin-bottom: 30px
}
.form-en .Tlf .TaskTBL{padding-left: 70px;}
.Tlf .TaskAll {
    border: 1px #cfcfcf solid;
    border-radius: 7px;
    border-bottom-width: 4px
}

.Tlf .TaskAll img {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 109;
    top: -16px;
    right: 90px;
    border-radius: 50%;
    border: 3px #fff solid;
}
.form-en .Tlf .TaskAll img{left:90px}
/*All task approved*/

.Tlf .TaskTBL:before {
    content: ' ';
    position: absolute;
    color: #fff;
    top: 7px;
    right: 17px;
    width: 30px;
    height: 30px;
    background: #eeeeee;
    border-radius: 50%;
}
.form-en .Tlf .TaskTBL:before{left:22px}
.Tlf .TaskTBL:after {
    content: '\f00c';
    position: absolute;
    color: #fff;
    top: 9px;
    right: 19px;
    width: 26px;
    height: 26px;
    background: #46A246;
    border-radius: 50%;
    border: 4px #fff solid;
    font-family: 'FontAwesome';
    text-align: center;
}
.form-en .Tlf .TaskTBL:after{left:24px}
.Tlf .TaskAll .TaskHD {
    background: #eee;
    border-radius: 6px 6px 0 0;
    position: relative;
    padding: 5px 94px 5px 15px;
    color: #000;
    font-size: 14px;
}
.form-en .Tlf .TaskAll .TaskHD{padding: 5px 15px 5px 94px;}

.Tlf .TaskAll .TaskHD:before {
    position: absolute;
    content: ' ';
    width: 20px;
    height: 24px;
    border-top: 12px solid transparent;
    border-left: 17px solid #cfcfcf;
    border-bottom: 12px solid transparent;
    right: -20px;
    top: 9px;
}
.form-en .Tlf .TaskAll .TaskHD:before{left:-20px;border-left: 0px;border-right: 17px solid #cfcfcf;}
.Tlf .TaskAll .TaskHD:after {
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #eee;
    border-bottom: 10px solid transparent;
    right: -15px;
    top: 11px;
}
.form-en .Tlf .TaskAll .TaskHD:after{left:-15px;border-left: 0px;border-right: 15px solid #eee;}

.Tlf .TaskAll .TaskHD div {
    margin: 0px auto 3px
}

.Tlf .TaskAll .TaskHD .ACTNam lable:first-child {
    font-weight: bold
}

.Tlf .TaskAll .TaskCon {
    padding: 14px 20px
}

.Tlf .TaskAll .TaskCon .ACTNot {
    padding-top: 3px
}

.Tlf .TaskHD .ACTDate, .Tlf .servDetialHD .ACTDate {
    display: block
}

.Tlf .TaskHD .ACTDate lable:first-child, .Tlf .servDetialHD .ACTDate lable:first-child, .servDetialTBL .form-detail .ACTDate lable:first-child {
    float: right;
    padding-left: 10px
}

.Tlf .TaskHD .ACTDate lable:first-child:before, .servDetialTBL .form-detail .ACTDate lable:first-child:before {
    content: '\f073';
    font-family: 'FontAwesome';
    padding-left: 5px
}

.Tlf .TaskHD .ACTDate lable:nth-child(2):after, .Tlf .servDetialHD .ACTDate lable:nth-child(2):after, .servDetialTBL .form-detail .ACTDate lable:nth-child(2):after {
    content: '\f017';
    font-family: 'FontAwesome';
    padding-left: 5px
}

.Tlf .TaskAll.TaskCom .TaskHD {
    padding: 5px 20px 5px 15px
}

.Tlf div.TaskTBL:last-child:before:before {
    content: ' ';
    width: 14px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 24px;
    display: block
}

/*Stamp all*/

/*.Tlf .TaskHD .ACTSts{    position: absolute;top: -24px;left: -54px;
transform:
translate(25px, 51px)
rotate(315deg);
width: 100px;background: transparent;text-align: center;font-size: 12px !important;
border-bottom: 22px solid #b1b1b1;border-left: 22px solid transparent;border-right: 22px solid transparent;height: 0;width: 133px;color: #fff;line-height: 1.8;  }*/

.Tlf .TaskHD .ACTSts {
    position: absolute;
    left: 11px;
    top: -1px;
    -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    padding-top: 5px;
    width: 60px;
    height: 38px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    z-index: 10;
    background: #53448b;
    color: #fff;
}
.form-en .Tlf .TaskHD .ACTSts{right:11px;left:auto}
.Tlf .TaskHD .ACTSts:before {
    position: absolute;
    top: 38px;
    left: 0px;
    z-index: 5;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 30px 0px 30px;
    content: "";
    display: inline-block;
    border-color: #53448b transparent transparent transparent;
}

/*All pulsate*/

.Tlf div:last-child.TaskTBL.TaskRej:after, .Tlf div:last-child.TaskTBL.TaskApp:after, .Tlf div:last-child.TaskTBL.TaskCan:after {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -ms-animation: pulsate 1s ease-out;
    -ms-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: pulsate 1s ease-out;
    -o-animation-iteration-count: infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@-ms-keyframes pulsate {
    0% {
        -ms-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -ms-transform: scale(1.2, 1.2);
        opacity: 0.0
    }
}

@-o-keyframes pulsate {
    0% {
        -o-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -o-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

/************Reject************/

.Tlf div:last-child.TaskTBL.TaskRej .TaskAll {
    border-color: #FB4242;
    border-top-width: 4px
}

.Tlf div:last-child.TaskTBL.TaskRej .TaskAll .TaskHD:before {
    border-left: 17px solid #FB4242
}
.form-en .Tlf div:last-child.TaskTBL.TaskRej .TaskAll .TaskHD:before{border-left: 0px;border-right: 17px solid #FB4242}

.Tlf div:last-child.TaskTBL.TaskRej .TaskAll .TaskHD:after {
    border-left: 15px solid #FB4242
}
.form-en .Tlf div:last-child.TaskTBL.TaskRej .TaskAll .TaskHD:after{border-left: 0px;border-right: 15px solid #FB4242}

.Tlf div:last-child.TaskTBL.TaskRej .TaskAll .TaskCon {
    color: #FB4242;
    font-size: 18px
}

.Tlf div:last-child.TaskTBL.TaskRej .TaskAll .TaskCon .ACTSts {
    font-weight: bold !important
}

/*Animation*/

.Tlf div:last-child.TaskTBL.TaskRej:before {
    content: ' ';
    position: absolute;
    color: #fff;
    top: 6px;
    right: 12px;
    width: 38px;
    height: 38px;
    background: #fb6262;
    border-radius: 50%;
}

.Tlf div:last-child.TaskTBL.TaskRej:after {
    content: '\f00d';
    position: absolute;
    color: #fff;
    top: 8px;
    right: 14px;
    padding-top: 1px;
    width: 34px;
    height: 34px;
    background: #fb6262;
    border-radius: 50%;
    font-size: 17px;
    border: 3px #fff solid;
    font-family: 'FontAwesome';
    text-align: center;
    opacity: 0;
    z-index: 10;
}

/*Stamp*/

.Tlf div:last-child.TaskTBL.TaskRej .ACTSts {
    position: absolute;
    left: 11px;
    top: 0px;
    padding-top: 12px;
    width: 60px;
    height: 38px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    z-index: 10;
    background: #FB4242;
    color: #fff;
}
.form-en .Tlf div:last-child.TaskTBL.TaskRej .ACTSts{left:auto;right: 11px;}
.Tlf div:last-child.TaskTBL.TaskRej .ACTSts:before {
    position: absolute;
    top: 38px;
    left: 0px;
    z-index: 5;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 30px 0px 30px;
    content: "";
    display: inline-block;
    border-color: #FB4242 transparent transparent transparent;
}
/************Approved*****************/

.Tlf div:last-child.TaskTBL.TaskApp .TaskAll {
    border-color: #46a246;
    border-top-width: 4px
}

.Tlf div:last-child.TaskTBL.TaskApp .TaskAll .TaskHD:before {
    border-left: 17px solid #46a246
}
.form-en .Tlf div:last-child.TaskTBL.TaskApp .TaskAll .TaskHD:before{border-left: 0px;border-right: 17px solid #46a246}
.Tlf div:last-child.TaskTBL.TaskApp .TaskAll .TaskHD:after {
    border-left: 15px solid #46a246
}
.form-en .Tlf div:last-child.TaskTBL.TaskApp .TaskAll .TaskHD:after{border-right: 15px solid #46a246;border-left: 0px}
.Tlf div:last-child.TaskTBL.TaskApp .TaskAll .TaskCon {
    color: #46a246;
    font-size: 18px;
}

.Tlf div:last-child.TaskTBL.TaskApp .TaskAll .TaskCon .ACTSts {
    font-weight: bold !important
}

/*Animation*/

.Tlf div:last-child.TaskTBL.TaskApp:before {
    content: ' ';
    position: absolute;
    color: #fff;
    top: 6px;
    right: 12px;
    width: 38px;
    height: 38px;
    background: #46a246;
    border-radius: 50%;
}

.Tlf div:last-child.TaskTBL.TaskApp:after {
    content: '\f00c';
    position: absolute;
    color: #fff;
    top: 8px;
    right: 14px;
    padding-top: 4px;
    width: 34px;
    height: 34px;
    background: #46a246;
    border-radius: 50%;
    border: 4px #fff solid;
    font-family: 'FontAwesome';
    text-align: center;
    opacity: 0;
    z-index: 10;
}

/*Stamp*/

.Tlf div:last-child.TaskTBL.TaskApp .ACTSts {
    position: absolute;
    left: 11px;
    top: 0px;
    padding-top: 3px;
    width: 60px;
    height: 38px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    z-index: 10;
    background: #46a246;
    color: #fff;
}
.form-en .Tlf div:last-child.TaskTBL.TaskApp .ACTSts{right:11px;left:auto}

.Tlf div:last-child.TaskTBL.TaskApp .ACTSts:before {
    position: absolute;
    top: 38px;
    left: 0px;
    z-index: 5;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 30px 0px 30px;
    content: "";
    display: inline-block;
    border-color: #46a246 transparent transparent transparent;
}

/************Pending************/

.Tlf div:last-child.TaskTBL.TaskPen .TaskAll {
    border-color: #ea7c1d;
    border-top-width: 4px
}

.Tlf div:last-child.TaskTBL.TaskPen .TaskAll .TaskHD:before {
    border-left: 17px solid #ea7c1d
}
.form-en .Tlf div:last-child.TaskTBL.TaskPen .TaskAll .TaskHD:before {
    border-left: 0px;border-right: 17px solid #ea7c1d
}
.Tlf div:last-child.TaskTBL.TaskPen .TaskAll .TaskHD:after {
    border-left: 15px solid #ea7c1d
}
.form-en .Tlf div:last-child.TaskTBL.TaskPen .TaskAll .TaskHD:after {
    border-left: 0px;border-right: 15px solid #ea7c1d
}
/*Animation*/

.Tlf div:last-child.TaskTBL.TaskPen:before {
    content: ' ';
    position: absolute;
    color: #fff;
    top: 6px;
    right: 12px;
    width: 38px;
    height: 38px;
    background: #eeeeee;
    border-radius: 50%;
}

.Tlf div:last-child.TaskTBL.TaskPen:after {
    content: '\f252';
    position: absolute;
    color: #fff;
    top: 8px;
    right: 14px;
    padding-top: 4px;
    width: 34px;
    height: 34px;
    background: #ea7c1d;
    border-radius: 50%;
    border: 4px #fff solid;
    font-family: 'FontAwesome';
    text-align: center;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*Stamp*/

.Tlf div:last-child.TaskTBL.TaskPen .ACTSts {
    position: absolute;
    left: 11px;
    top: 0px;
    padding-top: 10px;
    width: 64px;
    height: 38px;
    line-height: 16px;
    text-align: center;
    font-size: 13px;
    z-index: 10;
    background: #ea7c1d;
    color: #fff;
}
.form-en .Tlf div:last-child.TaskTBL.TaskPen .ACTSts{right: 11px;left: auto;}
.Tlf div:last-child.TaskTBL.TaskPen .ACTSts:before {
    position: absolute;
    top: 38px;
    left: 0px;
    z-index: 5;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 32px 0px 32px;
    content: "";
    display: inline-block;
    border-color: #ea7c1d transparent transparent transparent;
}

/************Cancel************/

.Tlf div:last-child.TaskTBL.TaskCan .TaskAll {
    border-color: #B95151
}

.Tlf div:last-child.TaskTBL.TaskCan .TaskAll .TaskHD:before {
    border-left: 17px solid #B95151
}

.Tlf div:last-child.TaskTBL.TaskCan .TaskAll .TaskHD:after {
    border-left: 15px solid #B95151
}

.form-en .Tlf div:last-child.TaskTBL.TaskCan .TaskAll .TaskHD:before {
    border-left: 0px;border-right: 17px solid #B95151;
}

.form-en .Tlf div:last-child.TaskTBL.TaskCan .TaskAll .TaskHD:after {
    border-left: 0px;border-right: 15px solid #B95151
}
/*Animation*/

.Tlf div:last-child.TaskTBL.TaskCan:before {
    content: ' ';
    position: absolute;
    color: #FF2020;
    top: 2px;
    right: 12px;
    width: 38px;
    height: 38px;
    background: #fff;
    border: 1px #eee solid;
    border-radius: 50%;
}

.Tlf div:last-child.TaskTBL.TaskCan:after {
    content: '\f05e';
    position: absolute;
    color: #FF2020;
    top: 4px;
    right: 14px;
    padding-top: 0px;
    width: 34px;
    height: 34px;
    background: #fff;
    font-size: 25px;
    border-radius: 50%;
    border: 0px #000 solid;
    font-family: 'FontAwesome';
    text-align: center;
    opacity: 0;
    z-index: 999;
}

/*Stamp*/

.Tlf div:last-child.TaskTBL.TaskCan .ACTSts {
    position: absolute;
    left: 11px;
    top: 0px;
    padding-top: 6px;
    width: 64px;
    height: 38px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    z-index: 10;
    background: #B95151;
    color: #fff;
}
.form-en .Tlf div:last-child.TaskTBL.TaskCan .ACTSts {right: 11px;left: auto}
.Tlf div:last-child.TaskTBL.TaskCan .ACTSts:before {
    position: absolute;
    top: 38px;
    left: 0px;
    z-index: 5;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 32px 0px 32px;
    content: "";
    display: inline-block;
    border-color: #B95151 transparent transparent transparent;
}
/*========================================================
            update 30/12/2017
==========================================================*/

/*===================================common===============================*/


/*data TBL style*/
.smart-rtl .main  .dataTable{direction: rtl}
.main  .dataTable{direction: ltr}
.main  .dataTable{width: 100%;text-align: center}
.main  .dataTable thead th{padding: 5px;padding: 8px 15px; text-align: center;vertical-align: middle}
.main  .dataTable tbody tr:nth-child(even){background: #f3f3f3}
.main  .dataTable tbody tr:nth-child(even){background: #fff}
.main  .dataTable tbody td{ padding: 8px 15px;    color: #7d7d7d;vertical-align: middle}
.main  .dataTable tbody td:last-child, .main  .dataTable thead th:last-child{ border-right-width:1px }
.dataTables_paginate{font-size: 16px}
.dataTables_paginate > span a{background: #e2e2e2;margin: 3px;padding: 3px;width: 32px;display: inline-block;text-align: center;border-radius: 5px; cursor: pointer}
.dataTables_paginate > span a:hover, .dataTables_paginate > span a.current, .dataTables_paginate > a:hover{    background: #53448b;color: #fff;text-decoration: none;}
.dataTables_paginate > a{margin: 0 5px;cursor: pointer;background: #e2e2e2;    padding: 5px 5px;border-radius: 5px;text-decoration: none;display: inline-block;}


/*Pink TB (default)*/
.main  .dataTable thead th{background: #cc7cb0;color:#fff;vertical-align: middle}

/*Violet TBL*/
.main  .dataTable.Vlt thead th{background: #6c5da5;color:#fff;vertical-align: middle}


/*Modal popup style*/
.modal-header{background: #6c5da5;color: #fff}
.PopDate{color: #cc6aaa;}
.modal-body{overflow: hidden}
/*ModalTBL*/
.modal-body  .dataTable{width: 100%;text-align: center}
.modal-body  .dataTable thead th{padding: 5px;padding: 8px 15px; text-align: center;vertical-align: middle}
.modal-body  .dataTable tbody tr:nth-child(even){background: #f3f3f3}
.modal-body  .dataTable tbody tr:nth-child(odd){background: #fff}
.modal-body  .dataTable tbody td{ padding: 8px 15px;    color: #7d7d7d;vertical-align: middle}
.modal-body  .dataTable tbody td:last-child, .modal-body .dataTable thead th:last-child{ border-right-width:1px;vertical-align: middle }
.modal-footer .btn.btn-default{background: #adadad;color: #fff;box-shadow: none;border: 0px;padding: 8px 20px;}
/*Pink TB (default)*/
.modal-body  .dataTable thead th{background: #cc7cb0;color:#fff;    font-size: 12px;}
/*Violet TBL*/
.modal-body  .dataTable.Vlt thead th{background: #6c5da5;color:#fff;font-size: 12px;}

/*Datepicker*/
.datepicker{border: 4px #53448b solid;border-radius: 10px !important;}
.datepicker table{width: 310px}
.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active
{background-color: #d06cad !important;}
.table-condensed  tr:nth-child(2) th{background: #d06cad !important;color: #fff;}
.table-condensed  tr:nth-child(2) th:hover{background: #b65594 !important;}
.table-condensed tr:nth-child(2) th{border-radius: 0px !important}
.table-condensed  tr:nth-child(3) th{background: #f3f3f3 !important;border-radius: 0px !important}

/*ease*/
.btn,.btnRd25, .btnRd25:hover, .btn:hover,a ,a:hover ,.ease, div{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.TBL_Wrapper{    overflow-y: auto;}
textarea{min-height: 80px}
.nav-tabs .nav-item a{color: #cc7cb0}

/*timepicker & select hover*/
.ui-timepicker-wrapper{font-size: 25px;padding: 0 8px;width: 28% !important;}
.ui-timepicker-wrapper li:hover, select option:hover{color: #fff;background: #3e2f75 !important}

.simple-notification.rtl-mode svg{display: none}
.alert{margin-top: 15px}
/*===================================End common===============================*/


.mainBG{background: #e4e4e4 url(../img/WBG.gif) repeat-y top center  }
.Mlogo{padding: 10px 0;overflow:hidden}
.Mlogo a {display: block;text-align: center;}

.main{/*background:#fff ;*/padding:0px; min-height: 810px;}
.main .navbar-inverse{background: #c73d92;border-bottom-width: 0px;    border-radius:0px;border-color: #ececec;}
.footer{    background: #534689;height: 113px}
.main .navbar-inverse .navbar-nav>.active>a, .main .navbar-inverse .navbar-nav>.active>a:focus,
.main .navbar-inverse .navbar-nav>.active>a:hover{color:#fff;background: #a52072;}
.main .navbar-inverse .navbar-toggle:focus, .main .navbar-inverse .navbar-toggle:hover, .main .navbar-inverse .navbar-toggle{    background-color: #7f73af;;border:0px}
.smart-rtl .main .navInfo{list-style: none;margin: 0px;float: left;}
.main .navInfo{float: right;margin-bottom:0px}
.main .navInfo li{display: inline-block;    vertical-align: middle;    margin:2px 10px 0; }
.main .navInfodiv{overflow: hidden}
.main .form-control{height: 45px;box-shadow: 0px;border-color: #9586cc;border-bottom-width: 3px;    margin-bottom: 5px;}
.main .date .form-control{margin-bottom: 0px}
.btn-primary, .btn-primary:visited, .btn-primary:active,.btn-primary:focus{    background-color: #53448b !important;border-color: #53448b;}
.btn-primary:hover{background-color: #7160ad}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover,
.btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
.main fieldset[disabled] .btn-primary.focus, .main fieldset[disabled] .btn-primary:focus,.main fieldset[disabled] .btn-primary:hover
{ background-color: #8a79c5;border-color: #53448b;}
.main form label{color: #d06cad}
.main form .ACTNot label {color: #797979;}


/*Home Btn Box*/
.dl1{-webkit-animation-delay: 1s;-moz-animation-delay:1s;-o-animation-delay:1;animation-delay:1s;}
.dl12{-webkit-animation-delay: 1.2s;-moz-animation-delay:1.2s;-o-animation-delay:1;animation-delay:1.2s;}
.dl14{-webkit-animation-delay: 1.4s;-moz-animation-delay:1.4s;-o-animation-delay:1.4;animation-delay:1.4s;}
.dl16{-webkit-animation-delay: 1.6s;-moz-animation-delay:1.6s;-o-animation-delay:1.6;animation-delay:1.6s;}
.dl18{-webkit-animation-delay: 1.8s;-moz-animation-delay:1.8s;-o-animation-delay:1.8;animation-delay:1.8s;}
.dl20{-webkit-animation-delay: 2s;-moz-animation-delay:2s;-o-animation-delay:2;animation-delay:2s;}
.dl22{-webkit-animation-delay: 2.2s;-moz-animation-delay:2.2s;-o-animation-delay:2.2s;animation-delay:2.2s;}

.AllBtnBox {overflow: hidden;border-radius: 20px;padding: 30px 0 0;}
.HBtnBox, .HBtnBox:focus{height: 52px;display: block;margin-bottom: 30px;width:241px;
    color:#fff;font-size: 15px; }
    .smart-rtl .AllBtnBox .col-md-3:first-child .HBtnBox{background:url(../img/b02.gif)}
    .smart-rtl .AllBtnBox .col-md-3:nth-child(3) .HBtnBox{background:url(../img/b03.gif)}
    .smart-rtl .AllBtnBox .col-md-3:nth-child(2) .HBtnBox{background:url(../img/b06.gif)}
    .smart-rtl .AllBtnBox .col-md-3:nth-child(4) .HBtnBox{background:url(../img/b01.gif)}
    .smart-rtl .AllBtnBox .col-md-3:nth-child(5) .HBtnBox{background:url(../img/b04.gif)}
    .smart-rtl .AllBtnBox .col-md-3:nth-child(6) .HBtnBox{background:url(../img/b05.gif)}
    .smart-rtl .AllBtnBox .col-md-3:nth-child(7) .HBtnBox{background:url(../img/b02.gif)}
    .smart-rtl .AllBtnBox .col-md-3:nth-child(8) .HBtnBox{background:url(../img/b02.gif)}
    .smart-rtl .AllBtnBox .col-md-3:nth-child(9) .HBtnBox{background:url(../img/b02.gif)}
    .smart-rtl .AllBtnBox .col-md-3:nth-child(10) .HBtnBox{background:url(../img/b02.gif)}
    .smart-rtl .AllBtnBox .col-md-3:nth-child(11) .HBtnBox{background:url(../img/b02.gif)}

.AllBtnBox .col-md-3:first-child .HBtnBox{background:url(../img/b02-En.gif)}
.AllBtnBox .col-md-3:nth-child(3) .HBtnBox{background:url(../img/b03-En.gif)}
.AllBtnBox .col-md-3:nth-child(2) .HBtnBox{background:url(../img/b06-En.gif)}
.AllBtnBox .col-md-3:nth-child(4) .HBtnBox{background:url(../img/b01-En.gif)}
.AllBtnBox .col-md-3:nth-child(5) .HBtnBox{background:url(../img/b04-En.gif)}
.AllBtnBox .col-md-3:nth-child(6) .HBtnBox{background:url(../img/b05-En.gif)}
.AllBtnBox .col-md-3:nth-child(7) .HBtnBox{background:url(../img/b02-En.gif)}
.AllBtnBox .col-md-3:nth-child(8) .HBtnBox{background:url(../img/b02-En.gif)}
.AllBtnBox .col-md-3:nth-child(9) .HBtnBox{background:url(../img/b02-En.gif)}
.AllBtnBox .col-md-3:nth-child(10) .HBtnBox{background:url(../img/b02-En.gif)}
.AllBtnBox .col-md-3:nth-child(11) .HBtnBox{background:url(../img/b02-En.gif)}
.HBtnBox:hover {color: #fff;background: #ca3495}
.smart-rtl .AllBtnBox .col-md-3 a span{display: inline-block;margin: 13px 70px 0 0;float:right}
.AllBtnBox .col-md-3 a span{display: inline-block;margin: 13px 0 0 70px; float: left }
.AllBtnBox .col-md-3 a:before{font-family: FontAwesome;display: inline-block;margin: 0 0 0 15px;font-size: 50px;font-weight: normal;}
/*.AllBtnBox .col-md-3:first-child a:before{content: '\f274'; }
.AllBtnBox .col-md-3:nth-child(2) a:before{content: '\f017'; }
.AllBtnBox .col-md-3:nth-child(3) a:before{content: '\f256'; }
.AllBtnBox .col-md-3:nth-child(4) a:before{content: '\f29c'; }
.AllBtnBox .col-md-3:nth-child(5) a:before{content: '\f022'; }*/
.topImg{background:url(../img/TopBG.jpg) no-repeat; height:200px;margin:20px auto;}
.usrInfo{color: #fff;padding: 5px;font-size: 12px;}
.Lang{cursor: pointer}

/*My report*/
.Filters_Select{padding: 10px;background: #ececec;margin: 10px;border-radius: 5px; overflow: hidden}
.smart-rtl .Filters_Select .col-md-4{direction: ltr}
.Filters_Select .col-md-4{direction: rtl}
.Filters_Select select{font-size: 18px;border-radius: 5px;padding: 3px 10px 5px; cursor: pointer}
.alertIco-on:before, .alertIco-off:before {content: '\f017';display: inline-block;font-family: FontAwesome;font-size: 18px;line-height: 1;}
.alertIco-on:before{color: #cc7cb0;}
.alertIco-off:before{color: #e4e4e4}

/*Task Details*/
.ACTNot label{color:#797979}
.main form .Tlf  label{color: #53448b}
.ACTSts label{color: #fff !important;text-shadow:none !important;-webkit-text-shadow:none !important}
.Tlf div:last-child.TaskTBL.TaskPen .ACTSts{padding-top: 2px}
.main form .alert label{color: inherit !important}
div:last-child.TaskTBL.TaskRej .TaskAll .TaskCon .ACTNot label{color: #FB4242 !important ;font-size: 18px !important;}

.PT20{padding-top: 20px}
/*footer*/
.footer{position: relative;margin-top: 50px;}
.footer:before{content: '';width: 100%;height: 52px;background:  url(../img/dec-img.png) repeat-x;position: absolute;top: -25px;}
.copyrights{text-align: center;font-size: 12px;color: #7a7786;padding: 10px;}
.copyrights:after{content: url(../img/Footer-icon.gif) ; width: 265px;height: 56px;float: left;margin-top: 30px;}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
@media (width: 1024px){
    .main .navInfo li{padding: 0px 0}

}


@media (min-width: 1024px){
    .Mlogo {height: 115px}
    .Mlogo a img{margin-top: 30px;}
    .main .navbar-inverse{/*height: 50px;*/width: 1140px;margin: 10px auto;}
    .main .navbar-nav>li>a{padding: 11px 10px;}
    .content-Top {position: relative;}
    .content-Top:before {content: '';background: #534689;width: 100%;height: 6px;position: absolute;top: 38px;}
    .content-Top:after{content: '';width: 100%;height: 32px;background: url(../img/dec-img.png) repeat-x;position: absolute;top: 2px;z-index:-1}
}

@media (min-width: 992px){
    .main .navbar{min-height: 33px;}
    .smart-rtl .main .navbar-nav>li>a{padding: 5px 5px;color: #fff;font-size: 12px;border-left: 1px #da65ad solid;}
    .main .navbar-nav>li>a{padding: 5px 5px;color: #fff;font-size: 12px;border-right: 1px #da65ad solid;}
    .main .navbar-nav>li>a:hover{color:#fff;background: #a52072;}
    .main .navbar-nav>li>a.Lang:hover{background: transparent}
    .main .navbar-nav a.Lang{padding-bottom: 5px}
    .main .list-group-item{display: inline-block;border:0px}
    .main .filterradio {list-style: none}
    .main .filterradio li{display: inline-block;padding: 0 15px;}

}
@media (min-width: 768px){
    .smart-rtl .Filters_Select .col-md-4{text-align: left}
    .Filters_Select .col-md-4{text-align: right}
    .Filters_Select .col-sm-8:after{content:' '; display: inline-block;width: 270px;height: 44px ;border-radius: 8px; float: right;background: #fff url(../img/En-clrimg.gif) no-repeat center center;}
    .smart-rtl .Filters_Select .col-sm-8:after{width:200px;background: #fff url(../img/clrimg.gif) no-repeat center center; float: left}
}


@media (max-width: 768px){
    .Mlogo img {width: 100%}
    .main .navInfodiv{background: #1c0e50;}
    .navbar-nav{width: 100%}
    .navbar-nav li{float: none;}
    }
@media (max-width: 480px){
    .Filters_Select > div {margin-bottom:5px }
    .Filters_Select button{width: 100%;margin: 5px auto}
    .btn {display: block;width: 100%;margin-bottom: 5px;}
}
    /******************************DatatTable***********************/


table.table-bordered.dataTable {border-collapse: separate!important;}
table.dataTable {clear: both;margin-top: 6px!important;margin-bottom: 6px!important;max-width: none!important;}
.no-padding .dataTables_wrapper table, .no-padding>table {border: none!important;margin-bottom: 0!important;border-bottom-width: 0!important;}
table.table-bordered.dataTable {border-collapse: separate!important;}
.dataTables_filter input[type="search"]{margin-left:0px !important;}
.dataTables_filter .input-group-addon{height: 30px !important;padding: 6px !important;}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {}
.dt-toolbar-footer>:last-child .DTTT, .dt-toolbar-footer>:last-child .dataTables_filter>:only-child, .dt-toolbar-footer>:last-child .dataTables_length, .dt-toolbar-footer>:last-child .pagination {
float: right;}
.gu-mirror {position: absolute !important;margin: 0 !important;z-index: 9999 !important;opacity: 0.8;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);}
.gu-hide {left: -9999px !important;}
.gu-unselectable {
-webkit-user-select: none !important;
-moz-user-select: none !important;
-ms-user-select: none !important;
user-select: none !important;
}
.gu-transit {opacity: 0.2;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter: alpha(opacity=20);}
table>tbody tr.selected {color: #fff;}
table>tbody tr.selected {background-color: #08c !important;}
div.dataTables_paginate ul.pagination {margin: 2px 0;white-space: nowrap;}

@media print {
    table.fixedHeader-floating {display: none;}
}
.height400{height: 400px; }
.popover button{width: 100px !important;font-weight: bold;}
.smart-rtl .pagination {padding-right: 0 !important;}
.dataTables_filter {float: left;width: 100%;}
.dataTables_filter .input-group-addon {width: 32px;margin-top: 0;float: left;height: 32px;padding-top: 8px;padding: 6px 10px;border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
transition: background-color .3s;
-o-transition: background-color .3s;
-ms-transition: background-color .3s;
-moz-transition: background-color .3s;
-webkit-transition: background-color .3s;
}
.dataTables_filter .form-control, .input-lg, .input-sm, .input-xs {
border-radius: 0!important;
-webkit-border-radius: 0!important;
-moz-border-radius: 0!important;
}
.dataTables_filter .input-group-addon+.form-control {float: left;}
.input-group-addon:first-child {border-right: 0 !important;}
.dt-toolbar-footer {background: #fafafa;font-size: 11px;overflow: hidden;padding: 5px 10px;border-top: 1px solid #ccc;
-webkit-box-shadow: inset 0 1px #fff;
-moz-box-shadow: inset 0 1px #fff;
-ms-box-shadow: inset 0 1px #fff;
box-shadow: inset 0 1px #fff;}
.dt-toolbar-footer>:first-child, .dt-toolbar>:first-child {padding-left: 0!important;}
.dt-toolbar-footer>:last-child, .dt-toolbar>:last-child {padding-right: 0!important;}
.dt-toolbar {display: block;position: relative;padding:6px 15px;width: 100%;float: left;border-bottom: 1px solid #ccc;background: #fafafa;}
.dt-toolbar>:last-child .DTTT, .dt-toolbar>:last-child .dataTables_filter>:only-child, .dt-toolbar>:last-child .dataTables_length, .dt-toolbar>:last-child .pagination {
float: right;}
.dt-toolbar>:first-child .DTTT, .dt-toolbar>:first-child .dataTables_filter>:only-child, .dt-toolbar>:first-child .dataTables_length, .dt-toolbar>:first-child .pagination {
float: left!important;}
div.dataTables_filter label {font-weight: 400;float: right;}
div.dataTables_paginate {float: right;margin: 0;}
div.dataTables_info {padding-top: 9px;font-size: 13px;font-weight: 700;font-style: italic;color: #969696;}
.dt-toolbar-footer>:last-child .DTTT, .dt-toolbar-footer>:last-child .dataTables_filter>:only-child, .dt-toolbar-footer>:last-child .dataTables_length, .dt-toolbar-footer>:last-child .pagination {
float: right;}
.smart-rtl .cke_toolbar, .smart-rtl .cke_toolbar_separator, .smart-rtl .dataTables_filter, .smart-rtl a.cke_button {float: right;}
.smart-rtl .dt-toolbar>:first-child .dataTables_filter>:only-child {float: right!important;}
.smart-rtl .dataTables_filter .input-group-addon {border-left: 1px solid #ccc;border-radius: 2px 0 0 2px;margin-right: -1px;}
.smart-rtl .dataTables_filter .input-group-addon:first-child {border-right: 1px solid #ccc;}
.smart-rtl .dataTables_filter .input-group .form-control:first-child, .smart-rtl .input-group-addon:first-child, .smart-rtl .input-group-btn:first-child>.btn, .smart-rtl .input-group-btn:first-child>.dropdown-toggle, .smart-rtl .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
border-bottom-right-radius: 2px;
border-top-right-radius: 2px;
border-bottom-left-radius: 0;
border-top-left-radius: 0;
}
.smart-rtl .dt-toolbar>:last-child .dataTables_length, .smart-rtl div.dataTables_length label, .smart-rtl div.dataTables_paginate {
float: left;}
.smart-rtl .dt-toolbar>:first-child{margin-right: -14px;}
/*table.table-bordered.dataTable th, table.table-bordered.dataTable td {border-left-width: 1px;}*/
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border-bottom-width: 0px;}
.smart-rtl div.dataTables_wrapper div.dataTables_length select{margin-left: -30px;}

.dataTables_filter input[type='search'] {    border: 1px #cacaca solid;padding: 5px;border-radius: 0 5px 5px 0;margin: 0 5px}
.dataTables_filter .input-group-addon{    border: 0px;padding: 8px!important;height: 33px !important;text-align: center;width: 50px;border-radius: 5px 0 0 5px !important;background: #9c5684;color: #fff;display: inline-block;}


/******************************DatatTable***********************/


/******************************************************/
.vacColor{background: #c2f1b7 !important}
.latColor{background:#ffcf9e !important}
.absColor{background:#f2dede !important}
.notcomColor{background:#fff7c0 !important}
.offColor{background:#e8e8e8 !important}
 /* //اجازة
     // return '#c2f1b7';
     return 'vacColor'

    if (row.TotalLate != '--:--') //التأخير
      //return '#ffcf9e';
      return 'latColor'

    if (row.ActualTime != '00:00' && row.timefin == '--:--' && row.timefout == '--:--') //الغياب
      //return '#f2dede';
      return 'absColor'

    if (row.timefin != '--:--' && row.timefout == '--:--') //نسيان بصمة
      //return '#fff7c0';
      return 'notcomColor'

    if (row.ActualTime == '00:00') //اجازة رسمية
      //return '#e8e8e8';
      return 'offColor' */
      .nav-row{
          margin-right: -30px !important;
      }
      .loder{
        width: 90%;
        text-align: center;
        height: 100%;
        margin: 13% auto;
      }
      .spinner img{

        position: initial !important;
        opacity: 1 !important;
        background: initial !important;
      }
      .spinner{ background-color: rgba(0, 0, 0, 0.6)  !important; opacity: 1 !important;}
      .loading-text{top:-70px !important}

      .hasnew{position: relative}

      .hasnew .new{position: absolute;    right: -8px;left: auto;top: -21px;background: #e65748;width: 46px;text-align: center;border-radius: 5px;}
      .hasnew .new:before{content:'New'; display: inline-block}
      .smart-rtl .hasnew .new{position: absolute;    left: -8px ;right: auto;top: -21px;background: #e65748;width: 46px;text-align: center;border-radius: 5px;}
      .smart-rtl .hasnew .new:before{content:'جديد'; display: inline-block}
      .mobileview {color: #fff;display: inline-block;position: absolute;top: 12px;}

      @media (width: 1024px){
          .main .navInfo{float: none}
         }
