<div id="UsersGroupTablediv">
    <table id="UsersGroupTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
               
                <th>@Resources.Resources.GroupsUserTitle</th>
            </tr>
        </thead>
    </table>
</div>
