<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-TimeAttMVC-20151002113810.mdf;Initial Catalog=aspnet-TimeAttMVC-20151002113810;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <!--<add name="TimeAttConnectionString" connectionString="packet size=4096; user id='TimeAtt';data source='35.166.19.25,1833';persist security info=true; password='TimeAtt@4321' ; initial catalog=TimeAtt" providerName="System.Data.SqlClient" />-->
    <!--Live-->
    <add name="OracleConnection" connectionString="User Id=XXTA;Password=XXTA;Data Source=proddb1.alkhorayef.com:1521/PROD" />
    <add name="OracleConnectionDev3" connectionString="User Id=XXTA;Password=XXTA;Data Source=DEV3.alkhorayef.com:1524/DEV3" />
    <!--UAT3-->
    <!--<add name="OracleConnection" connectionString="User Id=XXTA;Password=XXTA;Data Source=UAT3.alkhorayef.com:1524/UAT3" />-->
    <!-- Original -->
    <!--<add name="TimeAttConnectionString" connectionString="data source=HANDOUMEH-SB\SQL17;initial catalog=TimeAtt;user id=TimeAttUser;password=TimeAtt@4321;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WorkFlowConnectionString" connectionString="packet size=4096; user id='TimeAttUser';data source='HANDOUMEH-SB\SQL17';persist security info=true; password='TimeAtt@4321' ; initial catalog=HWorkFlow" providerName="System.Data.SqlClient" />
    <add name="NotificationsConnectionString" connectionString="Data Source=35.166.19.25,1833;Initial Catalog=HNotifications;Persist Security Info=True;User ID=TimeAtt;Password=TimeAtt@4321;Connect Timeout=1800;Packet Size=32767" providerName="System.Data.SqlClient" />
    <add name="LocalizationConnectionString" connectionString="data source=HANDOUMEH-SB\SQL17;initial catalog=TimeAtt;user id=TimeAttUser;password=TimeAtt@4321;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!-- End Original -->
    <!-- Local Hammam PC -->
    <!--<add name="TimeAttConnectionString" connectionString="data source=.;initial catalog=TimeAtt;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WorkFlowConnectionString" connectionString="packet size=4096; user id='sa';data source=.;persist security info=true; password='P@ssw0rd' ; initial catalog=HWorkFlow" providerName="System.Data.SqlClient" />
    <add name="NotificationsConnectionString" connectionString="Data Source=.;Initial Catalog=HNotifications;Persist Security Info=True;User ID=sa;Password=P@ssw0rd;Connect Timeout=1800;Packet Size=32767" providerName="System.Data.SqlClient" />
    <add name="LocalizationConnectionString" connectionString="data source=.;initial catalog=TimeAtt;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!-- End Hammam -->
    <!-- alkhorayef -->
    <add name="TimeAttConnectionString" connectionString="packet size=4096; user id='TimeAttUser';data source='alkhr01';persist security info=true; password='TimeAtt@4321' ; initial catalog=TimeAtt" providerName="System.Data.SqlClient" />
    <add name="LocalizationConnectionString" connectionString="data source=alkhr01;initial catalog=TimeAtt;user id=TimeAttUser;password=TimeAtt@4321;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WorkFlowConnectionString" connectionString="packet size=4096; user id='TimeAttUser';data source='alkhr01';persist security info=true; password='TimeAtt@4321' ; initial catalog=HWorkFlow" providerName="System.Data.SqlClient" />
    <add name="NotificationsConnectionString" connectionString="Data Source=alkhr01;Initial Catalog=HNotifications;Persist Security Info=True;User ID=TimeAttUser;Password=TimeAtt@4321;Connect Timeout=1800;Packet Size=32767" providerName="System.Data.SqlClient" />
    <!-- End alkhorayef -->
    <!-- alkhorayef Test -->
    <!--<add name="TimeAttConnectionString" connectionString="packet size=4096; user id='TimeAttUser';data source='alkmt01';persist security info=true; password='TimeAtt@4321' ; initial catalog=TimeAtt" providerName="System.Data.SqlClient"/>
    <add name="LocalizationConnectionString" connectionString="data source=alkmt01;initial catalog=TimeAtt;user id=TimeAttUser;password=TimeAtt@4321;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="WorkFlowConnectionString" connectionString="packet size=4096; user id='TimeAttUser';data source='alkmt01';persist security info=true; password='TimeAtt@4321' ; initial catalog=HWorkFlow" providerName="System.Data.SqlClient"/>
    <add name="NotificationsConnectionString" connectionString="Data Source=alkmt01;Initial Catalog=HNotifications;Persist Security Info=True;User ID=TimeAttUser;Password=TimeAtt@4321;Connect Timeout=1800;Packet Size=32767" providerName="System.Data.SqlClient"/>-->
    <!-- End alkhorayef -->
  </connectionStrings>
  <appSettings>
    <add key="domain" value=".mytimeatttest.com" />
    <add key="tsurl" value="http://mytimeatttest.com:8080" />
    <add key="FileTypes" value=".gif,.png,.jpg,.jpeg,.pdf,.docx,.doc,.msg,.eml" />
    <add key="ApiUserName" value="hwf" />
    <add key="ApiPassword" value="hwf@4321" />
    <add key="ExchangeEmailPhoto" value="https://webmail.alkhorayef.com/ews/exchange.asmx/s/GetUserPhoto?email={0}" />
    <add key="ExchangeEmailUserName" value="hratt" />
    <add key="ExchangeEmailPassword" value="P@ssw0rd@HR" />
    <add key="ExchangeEmailDomain" value="aia" />
    <add key="ADDomain" value="alkhorayef.com" />
    <add key="ADUserName" value="hratt" />
    <add key="ADUserPassword" value="P@ssw0rd@HR" />
    <add key="ADEmpNoPropertyName" value="description" />
    <add key="EmailSenderID" value="1" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
       </system.Web>
  -->
  <system.web>
    <!--<authentication mode="Windows" />-->
    <authentication mode="Forms">
      <forms loginUrl="http://mytimeatttest.com/Account/Login" protection="All" timeout="60000" name=".ASPXAUTH" path="/" cookieless="UseCookies" requireSSL="false" slidingExpiration="true" defaultUrl="/" domain=".mytimeatttest.com" enableCrossAppRedirects="true" />
    </authentication>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" maxUrlLength="109909" maxQueryStringLength="2097151" />
    <machineKey decryption="AES" decryptionKey="A0A35A0F2DDB34C82C714710C6DEA75F63EC5712951A67F2" validation="SHA1" validationKey="538FDF92B2D51BCE6267E219FC23EE93D2AAA6BB1409524C5173029351CFA4376A6A5C05FE191E30BEF951C8F1107C69AB73C481130407D394F214B0D4459B5F" />
    <identity impersonate="true" />
    <!--<identity impersonate="false" />-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!--<remove name="FormsAuthentication" />-->
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="3276800" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<security>
    <authorization>
      <add accessType="Allow" users="*" />
    </authorization>
  </security>-->
</configuration>