<div id="SchedulesTablediv">
    <table id="ScheduleTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>@Resources.Resources.tabSchedules</th>
                <th>@Resources.Resources.DescriptionLabel</th>
            </tr>
        </thead>
    </table>
</div>
