
<div class="container PT20">
  <div class="topImg hidden-xs">

  </div>
  <div class="AllBtnBox">

    <div class="col-md-3"><a class="HBtnBox animated zoomIn dl12" routerLink="excuce"><span>{{'ExcuseReq' | translate}}</span></a></div>
    <div class="col-md-3 hidden"><a class="HBtnBox animated zoomIn dl1"   routerLink="vacation"><span>{{'VacationReq' | translate}}</span></a></div>
    <div class="col-md-3"><a class="HBtnBox animated zoomIn dl14" routerLink="fingerprint"><span>{{'FingerPrintReq' | translate}}</span></a></div>
    <div class="col-md-3"><a class="HBtnBox animated zoomIn dl1"   routerLink="report"><span>{{'TimeSheetManagmentTitle' | translate}}</span></a></div>
    <div class="col-md-3"><a class="HBtnBox animated zoomIn dl16" routerLink="myrequests"><span>{{'MyRequestlbl' | translate}}</span></a></div>
    <div class="col-md-3"><a class="HBtnBox animated zoomIn dl18" routerLink="mytasks"><span>{{'MyTaskslbl' | translate}}</span></a></div>

    <div class="col-md-3"><a class="HBtnBox animated zoomIn dl20" target="_blank"  href="{{TimePolicyURL}}"><span>{{'TimeAttPolicylbl' | translate}}</span></a></div>
    <div class="col-md-3"><a class="HBtnBox animated zoomIn dl22" target="_blank"  href="{{CompanyPolicyURL}}"><span>{{'CompanyPolicylbl' | translate}}</span></a></div>
  </div>
</div>
