USE [SaptcoTimeAtt]
GO
ALTER TABLE [dbo].[tb_transSummey] ADD m_exc_id INT NULL
GO
DELETE trans
FROM tb_transSummey trans
LEFT JOIN tb_employee
	ON emp_card = m_id
WHERE emp_id IS NULL
GO
UPDATE trans
SET m_exc_id =isnull(exc.exc_id,0)
 FROM [dbo].[tb_transSummey] trans
INNER JOIN tb_employee emp
	ON emp_card = m_id
LEFT JOIN tb_execuse exc
	ON exc.exc_empid = emp.emp_id AND exc.exc_date = trans.m_date AND ApprovalByManager = 'EAS02' AND exc_status = 1 AND exc_deleted = 0
GO
INSERT INTO [tb_logtype] (
	[id],
	[EType],
	[AType]
	)
SELECT 11,
	N'Change Schedule',
	N'تغيير جدول الدوام'
WHERE NOT EXISTS (
		SELECT 1
		FROM [tb_logtype]
		WHERE id = 11
		)
INSERT INTO [tb_logtype] (
	[id],
	[EType],
	[AType]
	)
SELECT 12,
	N'Region',
	N'فرع'
WHERE NOT EXISTS (
		SELECT id
		FROM [tb_logtype]
		WHERE id = 12
		)
INSERT INTO [tb_logtype] (
	[id],
	[EType],
	[AType]
	)
SELECT 13,
	N'TrasactionReasons',
	N'أسباب تعديل الحركات'
WHERE NOT EXISTS (
		SELECT id
		FROM [tb_logtype]
		WHERE id = 13
		)
GO
CREATE NONCLUSTERED INDEX [IX_tb_execuse] ON [dbo].[tb_execuse]
(
	[exc_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE FUNCTION [dbo].[GetDateAsStringSqlFormat] (@date INT)
RETURNS NVARCHAR(10)
AS
BEGIN
	DECLARE @datestring NVARCHAR(10)

	SELECT @datestring = CONVERT(NVARCHAR(10), dbo.getdatefromno(@date), 120)

	RETURN @datestring
END
GO
CREATE FUNCTION [dbo].[GetDayOfNameEN] (@mdate INT)
RETURNS NVARCHAR(50)
AS
BEGIN
	DECLARE @d SMALLDATETIME,
		@DayOfName NVARCHAR(50)

	SET @d = dbo.getdatefromno(@mdate)

	SELECT @DayOfName = DATENAME(dw, @d)

	SELECT @DayOfName = CASE @DayOfName
			WHEN N'Saturday'
				THEN N'Sat'
			WHEN N'Sunday'
				THEN N'Sun'
			WHEN N'Monday'
				THEN N'Mon'
			WHEN N'Tuesday'
				THEN N'Tue'
			WHEN N'Wednesday'
				THEN N'Wed'
			WHEN N'Thursday'
				THEN N'Thu'
			WHEN N'Friday'
				THEN N'Fri'
			END

	RETURN @DayOfName
END
GO
ALTER FUNCTION [dbo].[getdatefromno] (@d INT)
RETURNS DATE
AS
BEGIN
	IF (@d < 36526)
		SET @d = 36526

	RETURN DATEADD(day, @d, '1899-12-30')
END
GO
ALTER FUNCTION [dbo].[GetAllEmployeeByMainSec] (@sec_id INT)
RETURNS TABLE
AS
RETURN (
		WITH DepHierarchy AS (
				SELECT sec_id
				FROM tb_section
				WHERE sec_id = @sec_id
				
				UNION ALL
				
				SELECT Sec.sec_ID
				FROM tb_section Sec
				INNER JOIN DepHierarchy dep
					ON Sec.sec_Parent = dep.sec_ID
				)
		SELECT e.*
		FROM DepHierarchy DH
		INNER JOIN tb_employee e
			ON DH.sec_ID = e.emp_section
		)
GO
Create PROCEDURE spinsertTotransSummey @m_id BIGINT,
	@m_date INT,
	@emp_id INT = NULL,
	@sid INT = NULL,
	@ftime NVARCHAR(10) = NULL,
	@ttime NVARCHAR(10) = NULL,
	@m_manual bit =null
AS
BEGIN
	DECLARE @TransID BIGINT
	SELECT @TransID = tb_transSummey.ID
	FROM tb_transSummey
	WHERE m_id = @m_id AND m_date = @m_date
	IF (@TransID IS NOT NULL)
		RETURN @TransID;
	SELECT @emp_id = emp_id
	FROM tb_employee
	WHERE emp_Card = @m_id AND (@emp_id IS NULL OR emp_id = @emp_id)
	IF (@emp_id IS NULL)
		RETURN 0;
	IF @sid IS NULL
		SELECT @sid = dbo.GeatSchedualID(@emp_id, @m_date)
	INSERT INTO tb_transSummey (
		[m_id],
		[m_date],
		[m_timefin],
		[m_timefout],
		[m_timetotal],
		[m_actualtime],
		[m_latein],
		[m_overtime],
		[m_totallate],
		[m_earlyout],
		[m_deleted],
		[m_manual],
		[m_overtimein],
		[m_overtimeOut],
		[m_shiftid],
		[m_timesin],
		[m_timesout],
		[m_flatein],
		[m_slatein],
		[m_fearlyout],
		[m_searlyout],
		[m_lastcvcode],
		[m_vac_id],
		[m_exc_id]
		)
	SELECT @m_id,
		@m_date,
		isnull(@ftime, N'--:--'),
		isnull(@ttime, N'--:--'),
		N'--:--',
		ISNULL(dbo.GetActualTime(@emp_id, @sid, @m_date), N'00:00'),
		N'--:--',
		N'--:--',
		N'--:--',
		N'--:--',
		0,
		isnull(@m_manual,0),
		N'--:--',
		N'--:--',
		@sid,
		N'--:--',
		N'--:--',
		N'--:--',
		N'--:--',
		N'--:--',
		N'--:--',
		1,
		dbo.HasVacation(@emp_id, @m_date),
		dbo.HasExecuse(@emp_id, @m_date)
	SELECT @TransID = @@IDENTITY
	RETURN @TransID;
END
GO
CREATE PROCEDURE [dbo].[GetSectionByAll]
AS
BEGIN
	SELECT tb_section.*,
		isnull(empmanager.emp_name, '') sec_managerName,
		isnull(sempmanager.emp_name, '') sec_secondmanagerName,
		isnull(tb_schedule.sch_name, '') sch_name
	FROM tb_section
	LEFT JOIN tb_employee empmanager
		ON tb_section.sec_manager = empmanager.emp_id
	LEFT JOIN tb_employee sempmanager
		ON tb_section.sec_secondmanager = sempmanager.emp_id
	LEFT JOIN tb_schedule
		ON tb_schedule.sch_id = sec_sch
END
GO
CREATE PROCEDURE [dbo].[GetSectionByID] @Sec_ID INT
AS
BEGIN
	SELECT tb_section.*,
		isnull(empmanager.emp_name, '') sec_managerName,
		isnull(sempmanager.emp_name, '') sec_secondmanagerName,
		isnull(tb_schedule.sch_name, '') sch_name
	FROM tb_section
	LEFT JOIN tb_employee empmanager
		ON tb_section.sec_manager = empmanager.emp_id
	LEFT JOIN tb_employee sempmanager
		ON tb_section.sec_secondmanager = sempmanager.emp_id
	LEFT JOIN tb_schedule
		ON tb_schedule.sch_id = sec_sch
	WHERE sec_ID = @Sec_ID
END
GO
CREATE PROCEDURE [dbo].[spdologin_Ext] @user_name NVARCHAR(150),
	@user_pass NVARCHAR(50)
AS
SELECT U.*,
	isnull(E.emp_name, U.user_name) EmpName,
	isnull(E.emp_no, '0') EmpNO
FROM tb_users U
LEFT JOIN tb_employee E
	ON U.user_empid = E.emp_id
WHERE U.user_name = @user_name AND U.user_pass = @user_pass AND U.user_active = 1
GO
CREATE PROCEDURE [dbo].[spGetEmployeeByEmpNO] @emp_no NVARCHAR(15)
AS
BEGIN
	SELECT TOP (1) tb_employee.*,
		cast(tb_employee.[emp_card] AS NVARCHAR(10)) emp_cardNvc,
		sec_id,
		sec_Name,
		user_name,
		reg_id,
		reg_name,
		sch_name
	FROM tb_employee
	INNER JOIN tb_section
		ON emp_section = sec_ID
	LEFT JOIN tb_users
		ON tb_employee.emp_id = user_empid
	LEFT JOIN tb_Regions
		ON tb_employee.emp_region = tb_Regions.reg_id
	INNER JOIN tb_schedule
		ON emp_sch = sch_id
	WHERE (emp_no = @emp_no)
END
GO
CREATE PROCEDURE IfHasPermssion @userID INT,
	@group_no INT,
	@prev_name NVARCHAR(150)
AS
BEGIN
	IF EXISTS (
			SELECT 1
			FROM tb_userperm P
			RIGHT JOIN tb_users U
				ON P.user_no = U.user_id
			WHERE ((P.prev_name = @prev_name AND P.group_no = @group_no AND P.prev_ok = 1 AND U.user_active = 1 AND U.user_per = 2) OR U.user_per = 1) AND U.user_id = @userID
			)
		SELECT cast(1 AS BIT)
	ELSE
		SELECT cast(0 AS BIT)
END
GO
CREATE PROCEDURE dbo.ChangeSchedule @sch_ID INT,
	@ByAllEmployees BIT,
	@BySection INT,
	@ByRegion BIGINT,
	@Username NVARCHAR(150)
AS
BEGIN
	DECLARE @RowCount INT,
		@CurrentDate INT

	SELECT @CurrentDate = dbo.getnofromdate(getdate())

	IF @ByAllEmployees = 1
	BEGIN
		UPDATE tb_employee
		SET emp_sch = @sch_ID
		WHERE emp_deleted = 0

		SELECT @RowCount = @@ROWCOUNT
	END
	ELSE IF @BySection > 0
	BEGIN
		UPDATE tb_employee
		SET emp_sch = @sch_ID
		WHERE emp_section IN (
				SELECT emp_id
				FROM tb_employee
				WHERE EXISTS (
						SELECT 1
						FROM dbo.GetSectionUnderManager('', @BySection) t
						WHERE t.sec_ID = emp_section
						)
				)

		SELECT @RowCount = @@ROWCOUNT

		UPDATE tb_section
		SET sec_sch = @sch_ID
		WHERE sec_ID = @BySection
	END
	ELSE IF @ByRegion > 0
	BEGIN
		UPDATE tb_employee
		SET emp_sch = @sch_ID
		WHERE emp_region = @ByRegion

		SELECT @RowCount = @@ROWCOUNT
	END

	IF @RowCount > 0
		EXEC spsaveuserlog 11,
			@sch_ID,
			4,
			@UserName,
			0,
			'',
			@CurrentDate

	SELECT @RowCount
END
GO
CREATE PROCEDURE dbo.TimeAtt_GetTransactionByID
	@TransID bigint,@lang VARCHAR(5)
AS
BEGIN
	SELECT tb_trans.trans_id,tb_trans.m_date DateNo,
		tb_trans.m_id,
		 case when @Lang = 'en-US'
					THEN dbo.GetDayOfNameEN(tb_trans.m_date) + ' ' + dbo.GetDateAsString(tb_trans.m_date)
				ELSE dbo.GetDayOfName(tb_trans.m_date) + ' ' + dbo.GetDateAsString(tb_trans.m_date)
				END m_date,
		
		tb_trans.m_time,
		tb_trans.m_status,
		tb_trans.m_typ,
		CASE 
			WHEN @lang = 'en-US'
				THEN (
						CASE 
							WHEN m_status = 1
								THEN 'Success' + case when isnull(m_manual,0)=1 then N'[Modified manually]' else '' end
							ELSE 'Fail'
							END
						)
			ELSE (
					CASE 
						WHEN m_status = 1
							THEN N'ناجحة' + case when isnull(m_manual,0)=1 then N'[معدلة يدوياً]' else '' end
						ELSE N'فاشلة'
						END
					)
			END AS StatusName,
		tb_employee.emp_no,
		cast(tb_employee.emp_card AS NVARCHAR) emp_card,
		tb_employee.emp_name,
		tb_employee.emp_id,
		tb_trans.m_deleted,
		tb_trans.m_mode,
		tb_trans.m_manual,
		isnull(tb_trans.m_unitid, 0) m_unitid,
		ISNULL(m_unitname, CASE 
				WHEN @lang = 'en-US'
					THEN N'Inserted Manually'
				ELSE N'مدخلة يدوياً'
				END) AS m_unit,
		tb_uptTransReason.uptTransReason_id ModifiedReasonID,
		tb_uptTransReason.uptTransReason_name ModifiedReason,
		tb_trans.m_transtype,
		ISNULL(tb_trans.CV_CODE, 1) CV_CODE,
		ISNULL(acc_date,m_date)acc_date
	FROM tb_trans
	INNER JOIN tb_employee
		ON tb_trans.m_id = tb_employee.emp_card
	LEFT JOIN (
		SELECT max(translog_id) translog_id,
			trans_id
		FROM tb_translog
		GROUP BY trans_id
		) t
		ON tb_trans.trans_id = t.trans_id
	LEFT JOIN tb_translog
		ON t.translog_id = tb_translog.translog_id
	LEFT JOIN tb_uptTransReason
		ON tb_translog.TransReasonID = tb_uptTransReason.uptTransReason_id
	WHERE tb_trans.trans_id=@TransID 
	
END
GO
CREATE PROCEDURE dbo.TimeAtt_GetExcuseByID
	@exc_ID int
AS
BEGIN
	select Exc.*,execuseReason_Name from tb_execuse Exc 
	inner join tb_execuseReason Reason on Reason.execuseReason_id=Exc.execuseReason_ID
	where exc_id=@exc_ID 
END
GO
Create PROCEDURE [dbo].[Repotr_DailyTimeSheet_Paging] @f_date INT,
	@t_date INT,
	@empID INT = NULL,
	@secID INT = NULL,
	@username NVARCHAR(100) = NULL,
	@reg_id BIGINT = NULL,
	@RowFilter NVARCHAR(max) = NULL,
	@DisplayLength AS INT = NULL,
	@DisplayStart AS INT = NULL,
	@OrderBy AS NVARCHAR(50) = NULL,
	@OrderDir AS NVARCHAR(10) = NULL,
	@Lang VARCHAR(10) = 'en-US',
	@SQLUp2008 BIT = 1,
	@Count INT OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @sql NVARCHAR(max),
		@ParmDefinition NVARCHAR(max)
	DECLARE @Reg BIGINT,
		@Sec INT,
		@Emp INT,
		@Fdate INT,
		@Tdate INT,
		@User NVARCHAR(150),
		@Order NVARCHAR(max),
		@FirstRecord NVARCHAR(500),
		@LastRecord NVARCHAR(500),
		@Filter NVARCHAR(max),
		@OutCount INT,
		@VacInfo NVARCHAR(250),
		@ExcInfo NVARCHAR(250),
		@TStatus NVARCHAR(2000)
	SELECT @Fdate = @f_date,
		@Tdate = @t_date,
		@Reg = @reg_id,
		@Sec = @secID,
		@Emp = @empID,
		@User = @username,
		@Filter = @RowFilter,
		@FirstRecord = cast(@DisplayStart AS VARCHAR),
		@LastRecord = cast((@DisplayStart + @DisplayLength) AS VARCHAR),
		@Order = CASE 
			WHEN @OrderBy IS NULL
				THEN N'm_Date,m_id'
			ELSE @OrderBy + ' ' + @OrderDir
			END,
		@VacInfo = CASE 
			WHEN @Lang = 'en-US'
				THEN N'N'' From: '' + dbo.GetDateAsString(vac_fdate) + N''  To: '' + dbo.GetDateAsString(vac_tdate) + N''<br/>  Vacation Name : '''
			ELSE N'N''من: '' + dbo.GetDateAsString(vac_fdate) + N''  الى: '' + dbo.GetDateAsString(vac_tdate) + N''<br/>  اسم الإجازة : '''
			END,
		@ExcInfo = CASE 
			WHEN @Lang = 'en-US'
				THEN N'N'' Total Hours : '' + exc_hours + N''<br/>  Reason : '''
			ELSE N'N'' مجموع الساعات : '' + exc_hours + N''<br/>  السبب : '''
			END,
		@TStatus = CASE 
			WHEN @Lang = 'en-US'
				THEN N',CASE 
			WHEN isnull(m_vac_id, 0) > 0
			THEN N''Vacation''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') <> ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--'' AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''Incomplete''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') = ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--''
			AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''Abcent''
			WHEN
			 ISNULL(tb_transSummey.m_actualtime, N''--:--'') = N''00:00''
			THEN N''Off day''
			WHEN ISNULL(m_totallate, N''--:--'') <> ''--:--''
			THEN N''Late''
			ELSE N''Attend'' END TStatus'
			ELSE N',CASE 
			WHEN isnull(m_vac_id, 0) > 0
			THEN N''إجازة''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') <> ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--'' AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''غير مكتمل''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') = ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--''
			AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''غياب''
			WHEN
			 ISNULL(tb_transSummey.m_actualtime, N''--:--'') = N''00:00''
			THEN N''عطلة''
			WHEN ISNULL(m_totallate, N''--:--'') <> ''--:--''
			THEN N''متأخر''
			ELSE N''حضور'' END TStatus'
			END
	SET @ParmDefinition = N'@Fdate INT,@Tdate INT,@Emp INT ,@Sec INT,@Reg INT'
	SELECT emp_id
	INTO #TempUserRegion
	FROM [dbo].[GetEmployeeByUserRegion](@User)
	
	IF @SQLUp2008 = 0
		SELECT @sql = N';WITH pg AS   (
			SELECT 
				ROW_NUMBER() OVER (ORDER BY m_date,m_id ) AS RowNum,
				tb_transSummey.ID TransID
				,m_Date
				,m_id
			FROM tb_transSummey
			INNER JOIN tb_employee ON tb_transSummey.m_id = tb_employee.emp_card 
			INNER JOIN #TempUserRegion empreg ON tb_employee.emp_id=empreg.emp_id
			LEFT JOIN  tb_execuse ON tb_transSummey.m_exc_id = tb_execuse.exc_id
			 WHERE 
					(@Emp is null or tb_employee.emp_id =@Emp)
				AND (@Sec is null or EXISTS (
					SELECT 1
					FROM (SELECT sec_ID,sec_Name FROM dbo.GetSectionUnderManager(null,@Sec)) t  
					WHERE t.sec_ID = emp_section
					))
				AND (@Reg IS NULL OR emp_region = @Reg)
				AND (tb_employee.emp_deleted = 0) 
				AND (tb_employee.emp_violatedException <> 1)
				AND (tb_transSummey.m_date BETWEEN @Fdate AND @Tdate)
				AND ' + isnull(
				@Filter, '1=1') + N') 
		Select pg.TransID ID,pg.m_id,pg.RowNum ,tb_employee.emp_id
				,tb_employee.emp_no
				,tb_employee.emp_name
				,tb_transSummey.m_date m_dateno
				,' + CASE 
				WHEN @Lang = 'en-US'
					THEN N'dbo.GetDayOfNameEN'
				ELSE N'dbo.GetDayOfName'
				END + N'(tb_transSummey.m_date) + '' '' + dbo.GetDateAsString(tb_transSummey.m_date) AS m_date
				,ISNULL(convert(nvarchar(5),tb_transSummey.m_timefin), N''--:--'') AS timefin
				,ISNULL(convert(nvarchar(5),tb_transSummey.m_timefout), N''--:--'') AS timefout
				,ISNULL(tb_transSummey.m_flatein, N''--:--'') AS fLateIn
				,ISNULL(tb_transSummey.m_fearlyout, N''--:--'') AS fEarlyout
				,ISNULL(tb_transSummey.m_timetotal, N''--:--'') AS timeTotal
				,ISNULL(tb_transSummey.m_actualtime, N''--:--'') AS ActualTime
				,ISNULL(tb_transSummey.m_latein, N''--:--'') AS LateIn
				,ISNULL(tb_transSummey.m_overtime, N''--:--'') AS OverTime
				,ISNULL(tb_transSummey.m_totallate, N''--:--'') AS TotalLate
				,ISNULL(tb_transSummey.m_earlyout, N''--:--'') AS Earlyout
				,m_manual
				,m_vac_id AS vac_id
				,CASE WHEN m_vac_id > 0
				THEN ' + @VacInfo + 
			' + CASE 
						WHEN isnull([vac_HRTransName], '''') = ''''
							THEN vtype_name
						ELSE [vac_HRTransName]
						END
				ELSE ''''
				END vacinfo
				,Isnull(exc_id, 0) exc_id
				,CASE 
					WHEN exc_id IS NOT NULL
						THEN exc_hours
						ELSE ''--:--''
					END ExecuseTime
				,CASE 
					WHEN tb_execuse.exc_id IS NOT NULL
					THEN 
						' + @ExcInfo + N'
				 + CASE 
						WHEN isnull(execuseReason_name, '''') = ''''
							THEN exc_reason
						ELSE execuseReason_name + '' '' + exc_reason
						END
				ELSE ''''
				END Excuseinfo
				,execuseReason_name
				' + @TStatus + 
			N' 
				,CASE 
			WHEN isnull(m_vac_id, 0) > 0
			THEN N''vac''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') <> ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--'' AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''inc''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') = ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--''
			AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''abs''
			WHEN
			 ISNULL(tb_transSummey.m_actualtime, N''--:--'') = N''00:00''
			THEN N''off''
			WHEN ISNULL(m_totallate, N''--:--'') <> ''--:--''
			THEN N''lat''
			ELSE N''att'' END StatusCode
	 from pg inner join 
			tb_transSummey on pg.TransID=tb_transSummey.ID 
			INNER JOIN tb_employee ON tb_transSummey.m_id = tb_employee.emp_card 
			INNER JOIN #TempUserRegion empreg ON tb_employee.emp_id=empreg.emp_id
			LEFT JOIN  tb_execuse ON tb_transSummey.m_exc_id = tb_execuse.exc_id
				LEFT JOIN tb_execuseReason ON tb_execuse.execuseReason_ID = tb_execuseReason.execuseReason_id
				LEFT JOIN tb_vacation ON  vac_id=m_vac_id and m_vac_id is not null
				LEFT JOIN tb_vacationtype ON tb_vacation.vac_type = tb_vacationtype.vtype_id
		Where ( RowNum >' 
			+ @FirstRecord + N' and RowNum <=' + @LastRecord + N') order by TransID'
	ELSE
		SELECT @sql = N';WITH pg AS   (
			SELECT 
				0 AS RowNum,
				tb_transSummey.ID TransID
				,m_Date
				,m_id
			FROM tb_transSummey
			INNER JOIN tb_employee ON tb_transSummey.m_id = tb_employee.emp_card 
			INNER JOIN #TempUserRegion empreg ON tb_employee.emp_id=empreg.emp_id
			LEFT JOIN  tb_execuse ON tb_transSummey.m_exc_id = tb_execuse.exc_id
			 WHERE 
					(@Emp is null or tb_employee.emp_id =@Emp)
				AND (@Sec is null or EXISTS (
					SELECT 1
					FROM (SELECT sec_ID,sec_Name FROM dbo.GetSectionUnderManager(null,@Sec)) t  
					WHERE t.sec_ID = emp_section
					))
				AND (@Reg IS NULL OR emp_region = @Reg)
				AND (tb_employee.emp_deleted = 0) 
				AND (tb_employee.emp_violatedException <> 1)
				AND (tb_transSummey.m_date BETWEEN @Fdate AND @Tdate)
				AND ' + isnull(@Filter, '1=1') + 
			N'
				ORDER BY m_Date asc,m_id asc 
			 OFFSET ' + cast(@DisplayStart AS NVARCHAR(50)) + N' ROWS FETCH NEXT ' + cast(@DisplayLength AS NVARCHAR(50)) + N' ROWS ONLY) 
		Select pg.TransID ID,pg.m_id,pg.RowNum ,tb_employee.emp_id
				,tb_employee.emp_no
				,tb_employee.emp_name
				,tb_transSummey.m_date m_dateno
				,' + CASE 
				WHEN @Lang = 'en-US'
					THEN N'dbo.GetDayOfNameEN'
				ELSE N'dbo.GetDayOfName'
				END + N'(tb_transSummey.m_date) + '' '' + dbo.GetDateAsString(tb_transSummey.m_date) AS m_date
				,ISNULL(convert(nvarchar(5),tb_transSummey.m_timefin), N''--:--'') AS timefin
				,ISNULL(convert(nvarchar(5),tb_transSummey.m_timefout), N''--:--'') AS timefout
				,ISNULL(tb_transSummey.m_flatein, N''--:--'') AS fLateIn
				,ISNULL(tb_transSummey.m_fearlyout, N''--:--'') AS fEarlyout
				,ISNULL(tb_transSummey.m_timetotal, N''--:--'') AS timeTotal
				,ISNULL(tb_transSummey.m_actualtime, N''--:--'') AS ActualTime
				,ISNULL(tb_transSummey.m_latein, N''--:--'') AS LateIn
				,ISNULL(tb_transSummey.m_overtime, N''--:--'') AS OverTime
				,ISNULL(tb_transSummey.m_totallate, N''--:--'') AS TotalLate
				,ISNULL(tb_transSummey.m_earlyout, N''--:--'') AS Earlyout
				,m_manual
				,m_vac_id AS vac_id
				,CASE WHEN m_vac_id > 0
				THEN ' + @VacInfo + 
			' + CASE 
						WHEN isnull([vac_HRTransName], '''') = ''''
							THEN vtype_name
						ELSE [vac_HRTransName]
						END
				ELSE ''''
				END vacinfo
				,Isnull(exc_id, 0) exc_id
				,CASE 
					WHEN exc_id IS NOT NULL
						THEN exc_hours
						ELSE ''--:--''
					END ExecuseTime
				,CASE 
					WHEN tb_execuse.exc_id IS NOT NULL
					THEN 
						' + @ExcInfo + N'
				 + CASE 
						WHEN isnull(execuseReason_name, '''') = ''''
							THEN exc_reason
						ELSE execuseReason_name + '' '' + exc_reason
						END
				ELSE ''''
				END Excuseinfo
				,execuseReason_name
				' + @TStatus + 
			N' 
				,CASE 
			WHEN isnull(m_vac_id, 0) > 0
			THEN N''vac''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') <> ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--'' AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''inc''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') = ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--''
			AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''abs''
			WHEN
			 ISNULL(tb_transSummey.m_actualtime, N''--:--'') = N''00:00''
			THEN N''off''
			WHEN ISNULL(m_totallate, N''--:--'') <> ''--:--''
			THEN N''lat''
			ELSE N''att'' END StatusCode
	 from pg inner join 
			tb_transSummey on pg.TransID=tb_transSummey.ID 
			INNER JOIN tb_employee ON tb_transSummey.m_id = tb_employee.emp_card 
			INNER JOIN #TempUserRegion empreg ON tb_employee.emp_id=empreg.emp_id
				LEFT JOIN tb_execuse ON tb_transSummey.m_exc_id = tb_execuse.exc_id
				LEFT JOIN tb_execuseReason ON tb_execuse.execuseReason_ID = tb_execuseReason.execuseReason_id
				LEFT JOIN tb_vacation ON  vac_id=m_vac_id and m_vac_id is not null
				LEFT JOIN tb_vacationtype ON tb_vacation.vac_type = tb_vacationtype.vtype_id order by pg.TransID'
	PRINT isnull(@SQL, @OrderBy)
	EXECUTE sp_executesql @sql,
		@ParmDefinition,
		@Fdate = @Fdate,
		@Tdate = @Tdate,
		@Emp = @Emp,
		@Sec = @Sec,
		@Reg = @Reg
	SET @sql = N'select @MYCount=count(1) FROM tb_transSummey(NOLOCK)
			INNER JOIN tb_employee ON tb_transSummey.m_id = tb_employee.emp_card 
			INNER JOIN #TempUserRegion empreg ON tb_employee.emp_id=empreg.emp_id
			LEFT JOIN  tb_execuse ON tb_transSummey.m_exc_id = tb_execuse.exc_id
			 WHERE 
					(@Emp is null or tb_employee.emp_id =@Emp)
				AND (@Sec is null or EXISTS (
					SELECT 1
					FROM (SELECT sec_ID,sec_Name FROM dbo.GetSectionUnderManager(null,@Sec)) t  
					WHERE t.sec_ID = emp_section
					))
				AND (@Reg IS NULL OR emp_region = @Reg)
				AND (tb_employee.emp_deleted = 0) 
				AND (tb_employee.emp_violatedException <> 1)
				AND (tb_transSummey.m_date BETWEEN @Fdate AND @Tdate)
				AND ' + isnull(@Filter, '1=1')
	SET @ParmDefinition = @ParmDefinition + ',@MYCount INT output'
	print @sql
	EXECUTE sp_executesql @sql,
		@ParmDefinition,
		@Fdate = @Fdate,
		@Tdate = @Tdate,
		@Emp = @Emp,
		@Sec = @Sec,
		@Reg = @Reg,
		@MYCount = @OutCount OUTPUT
	IF OBJECT_ID('tempdb..#TempUserRegion') IS NOT NULL
		DROP TABLE #TempUserRegion
	SELECT @Count = @OutCount
END
GO
CREATE PROCEDURE [dbo].[Repotr_DailyTimeSheet_ByDate] @m_date INT,
	@emp_id INT ,
	@Lang VARCHAR(10) = 'en-US'
	
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @sql NVARCHAR(max),
		@ParmDefinition NVARCHAR(max),
		@VacInfo NVARCHAR(250),
		@ExcInfo NVARCHAR(250),
		@TStatus NVARCHAR(2000)

	SELECT 
		@VacInfo = CASE 
			WHEN @Lang = 'en-US'
				THEN N'N'' From: '' + dbo.GetDateAsString(vac_fdate) + N''  To: '' + dbo.GetDateAsString(vac_tdate) + N''<br/>  Vacation Name : '''
			ELSE N'N''من: '' + dbo.GetDateAsString(vac_fdate) + N''  الى: '' + dbo.GetDateAsString(vac_tdate) + N''<br/>  اسم الإجازة : '''
			END,
		@ExcInfo = CASE 
			WHEN @Lang = 'en-US'
				THEN N'N''Excuse from '' + exc_ftime + N'' to '' + exc_ttime +N'' Total Hours : '' + exc_hours + N''<br/>  Reason : '''
			ELSE N'N''الاستئذان من '' + exc_ftime + N'' إلى '' + exc_ttime +N''  مجموع الساعات : '' + exc_hours + N''<br/>  السبب : '''
			END,
		@TStatus = CASE 
			WHEN @Lang = 'en-US'
				THEN N',CASE 
			WHEN isnull(m_vac_id, 0) > 0
			THEN N''Vacation''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') <> ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--'' AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''Incomplete''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') = ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--''
			AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''Abcent''
			WHEN
			 ISNULL(tb_transSummey.m_actualtime, N''--:--'') = N''00:00''
			THEN N''Off day''
			WHEN ISNULL(m_totallate, N''--:--'') <> ''--:--''
			THEN N''Late''
			ELSE N''Attend'' END TStatus'
			ELSE N',CASE 
			WHEN isnull(m_vac_id, 0) > 0
			THEN N''إجازة''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') <> ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--'' AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''غير مكتمل''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') = ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--''
			AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''غياب''
			WHEN
			 ISNULL(tb_transSummey.m_actualtime, N''--:--'') = N''00:00''
			THEN N''عطلة''
			WHEN ISNULL(m_totallate, N''--:--'') <> ''--:--''
			THEN N''متأخر''
			ELSE N''حضور'' END TStatus'
			END

	SET @ParmDefinition = N'@m_date INT,@emp_id INT'

	
		SELECT @sql = N'
			SELECT tb_transSummey.ID TransID
				,m_id
				,tb_employee.emp_no
				,tb_employee.emp_name
				,tb_transSummey.m_date m_dateno
				,' + CASE 
				WHEN @Lang = 'en-US'
					THEN N'dbo.GetDayOfNameEN'
				ELSE N'dbo.GetDayOfName'
				END + N'(tb_transSummey.m_date) + '' '' + dbo.GetDateAsString(tb_transSummey.m_date) AS m_date
				,ISNULL(convert(nvarchar(5),tb_transSummey.m_timefin), N''--:--'') AS timefin
				,ISNULL(convert(nvarchar(5),tb_transSummey.m_timefout), N''--:--'') AS timefout
				,ISNULL(tb_transSummey.m_flatein, N''--:--'') AS fLateIn
				,ISNULL(tb_transSummey.m_fearlyout, N''--:--'') AS fEarlyout
				,ISNULL(tb_transSummey.m_timetotal, N''--:--'') AS timeTotal
				,ISNULL(tb_transSummey.m_actualtime, N''--:--'') AS ActualTime
				,ISNULL(tb_transSummey.m_latein, N''--:--'') AS LateIn
				,ISNULL(tb_transSummey.m_overtime, N''--:--'') AS OverTime
				,ISNULL(tb_transSummey.m_totallate, N''--:--'') AS TotalLate
				,ISNULL(tb_transSummey.m_earlyout, N''--:--'') AS Earlyout
				,m_manual
				,m_shiftid
				,shift_name
				,m_vac_id AS vac_id
				,CASE WHEN m_vac_id > 0
				THEN ' + @VacInfo + 
			' + CASE 
						WHEN isnull([vac_HRTransName], '''') = ''''
							THEN vtype_name
						ELSE [vac_HRTransName]
						END
				ELSE ''''
				END vacinfo
				,Isnull(exc_id, 0) exc_id
				,CASE 
					WHEN exc_id IS NOT NULL
						THEN exc_hours
						ELSE ''--:--''
					END ExecuseTime
				,CASE 
					WHEN tb_execuse.exc_id IS NOT NULL
					THEN 
						' + @ExcInfo + N'
				 + CASE 
						WHEN isnull(execuseReason_name, '''') = ''''
							THEN exc_reason
						ELSE execuseReason_name + '' '' + exc_reason
						END
				ELSE ''''
				END Excuseinfo
				,execuseReason_name
				' + @TStatus + 
			N' 
				,CASE 
			WHEN isnull(m_vac_id, 0) > 0
			THEN N''vac''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') <> ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--'' AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''inc''
			WHEN ISNULL(tb_transSummey.m_timefin, N''--:--'') = ''--:--''
			AND ISNULL(tb_transSummey.m_timefout, N''--:--'') = N''--:--''
			AND ISNULL(tb_transSummey.m_actualtime, N''--:--'') <> N''00:00''
			THEN N''abs''
			WHEN
			 ISNULL(tb_transSummey.m_actualtime, N''--:--'') = N''00:00''
			THEN N''off''
			WHEN ISNULL(m_totallate, N''--:--'') <> ''--:--''
			THEN N''lat''
			ELSE N''att'' END StatusCode
	  FROM tb_transSummey
			INNER JOIN tb_employee ON tb_transSummey.m_id = tb_employee.emp_card 
			Inner Join tb_shift on m_shiftid=shift_id
			LEFT JOIN tb_execuse ON tb_employee.emp_id = tb_execuse.exc_empid
				AND tb_transSummey.m_date = tb_execuse.exc_date
				And ApprovalByManager=''EAS02''
				AND exc_status = 1 and exc_deleted=0
			
				LEFT JOIN tb_execuseReason ON tb_execuse.execuseReason_ID = tb_execuseReason.execuseReason_id
				LEFT JOIN tb_vacation ON  vac_id=m_vac_id and m_vac_id is not null
				LEFT JOIN tb_vacationtype ON tb_vacation.vac_type = tb_vacationtype.vtype_id
			 WHERE 
					(tb_employee.emp_id =@emp_id)
				
				AND (tb_transSummey.m_date = @m_Date)'
			
		

	PRINT isnull(@SQL,'??')

	EXECUTE sp_executesql @sql,
		@ParmDefinition,
		@m_date = @m_date,
		@emp_id = @emp_id
END
GO
CREATE PROCEDURE [dbo].[TimeAtt_GetTransDetails]
	-- Add the parameters for the stored procedure here
	@m_date INT,
	@emp_id INT,
	@lang VARCHAR(5)
AS
BEGIN
	SELECT tb_trans.trans_id,tb_trans.m_date DateNo,
		tb_trans.m_id,
		 case when @Lang = 'en-US'
					THEN dbo.GetDayOfNameEN(tb_trans.m_date) + ' ' + dbo.GetDateAsString(tb_trans.m_date)
				ELSE dbo.GetDayOfName(tb_trans.m_date) + ' ' + dbo.GetDateAsString(tb_trans.m_date)
				END m_date,
		
		tb_trans.m_time,
		tb_trans.m_status,
		tb_trans.m_typ,
		CASE 
			WHEN @lang = 'en-US'
				THEN (
						CASE 
							WHEN m_status = 1
								THEN 'Success' + case when isnull(m_manual,0)=1 then N'[Modified manually]' else '' end
							ELSE 'Fail'
							END
						)
			ELSE (
					CASE 
						WHEN m_status = 1
							THEN N'ناجحة' + case when isnull(m_manual,0)=1 then N'[معدلة يدوياً]' else '' end
						ELSE N'فاشلة'
						END
					)
			END AS StatusName,
		tb_employee.emp_no,
		cast(tb_employee.emp_card AS NVARCHAR) emp_card,
		tb_employee.emp_name,
		tb_employee.emp_id,
		tb_trans.m_deleted,
		tb_trans.m_mode,
		tb_trans.m_manual,
		isnull(tb_trans.m_unitid, 0) m_unitid,
		ISNULL(m_unitname, CASE 
				WHEN @lang = 'en-US'
					THEN N'Inserted Manually'
				ELSE N'مدخلة يدوياً'
				END) AS m_unit,
		tb_uptTransReason.uptTransReason_id ModifiedReasonID,
		tb_uptTransReason.uptTransReason_name ModifiedReason,
		tb_trans.m_transtype,
		ISNULL(tb_trans.CV_CODE, 1) CV_CODE,
		ISNULL(acc_date,m_date)acc_date
	FROM tb_trans
	INNER JOIN tb_employee
		ON tb_trans.m_id = tb_employee.emp_card
	LEFT JOIN (
		SELECT max(translog_id) translog_id,
			trans_id
		FROM tb_translog
		GROUP BY trans_id
		) t
		ON tb_trans.trans_id = t.trans_id
	LEFT JOIN tb_translog
		ON t.translog_id = tb_translog.translog_id
	LEFT JOIN tb_uptTransReason
		ON tb_translog.TransReasonID = tb_uptTransReason.uptTransReason_id
	WHERE emp_id = @emp_id AND m_date = @m_date
	ORDER BY m_time
END
GO
ALTER PROCEDURE [dbo].[spGetEmployeeByID] @emp_ID INT
AS
BEGIN
	DECLARE @SchGroupName NVARCHAR(150)

	SELECT @SchGroupName = tb_schGroup.schGroup_name
	FROM tb_schGroup
	WHERE schGroup_id = (
			SELECT TOP (1) tb_schGroupEmployees.schGroup_id
			FROM tb_schGroupEmployees
			INNER JOIN tb_schGroup
				ON tb_schGroup.schGroup_id = tb_schGroupEmployees.schGroup_id
			WHERE emp_id = @emp_id AND tb_schGroup.schGroup_deleted = 0 AND (
					tb_schGroup.sch_startdate IS NULL OR dbo.getnofromdate(getdate()) BETWEEN tb_schGroup.sch_startdate
						AND tb_schGroup.sch_enddate
					)
			)

	SELECT tb_employee.*,
		cast(tb_employee.[emp_card] AS NVARCHAR(10)) emp_cardNvc,
		sec_id,
		sec_Name,
		user_name,
		reg_id,
		reg_name,
		sch_name,
		@SchGroupName GroupName
	FROM tb_employee
	INNER JOIN tb_section
		ON emp_section = sec_ID
	LEFT JOIN tb_users
		ON tb_employee.emp_id = user_empid
	LEFT JOIN tb_Regions
		ON tb_employee.emp_region = tb_Regions.reg_id
	INNER JOIN tb_schedule
		ON emp_sch = sch_id
	WHERE (emp_id = @emp_ID)
END
GO
ALTER PROCEDURE [dbo].[spGetEmployeeBySec] @sec_id INT = 0,
	@username NVARCHAR(100) = NULL,
	@reg_id INT = NULL
AS
BEGIN
	IF @sec_id <= 0
		SELECT emp.*,
			cast(emp.[emp_card] AS NVARCHAR(10)) emp_cardNvc,
			Sec.sec_Name,
			Reg.reg_name
		FROM [tb_employee] emp
		INNER JOIN dbo.GetEmployeeByUserRegion(@username) empreg
			ON emp.emp_id = empreg.emp_id
		INNER JOIN tb_section Sec
			ON emp.emp_section = Sec.sec_ID
		INNER JOIN tb_Regions Reg
			ON emp.emp_region = Reg.reg_id
		WHERE emp_deleted = 0 AND (@reg_id IS NULL OR emp_region = @reg_id)
		ORDER BY emp_no,
			emp_name
	ELSE
		SELECT emp.*,
			cast(emp.[emp_card] AS NVARCHAR(10)) emp_cardNvc,
			Sec.sec_Name,
			Reg.reg_name
		FROM dbo.GetAllEmployeeByMainSec(@sec_id) emp
		INNER JOIN dbo.GetEmployeeByUserRegion(@username) empreg
			ON emp.emp_id = empreg.emp_id
		INNER JOIN tb_section Sec
			ON emp.emp_section = Sec.sec_ID
		INNER JOIN tb_Regions Reg
			ON emp.emp_region = Reg.reg_id
		WHERE emp.emp_deleted = 0 AND (@reg_id IS NULL OR emp_region = @reg_id)
		ORDER BY emp.emp_no,
			emp.emp_name
END
GO
ALTER PROCEDURE [dbo].[spupdateshift] @shift_id INT,
	@shift_name NVARCHAR(250),
	@shift_fin NVARCHAR(50),
	@shift_fout NVARCHAR(50),
	@shift_sin NVARCHAR(50) = '--:--',
	@shift_sout NVARCHAR(50) = '--:--',
	@shift_off BIT,
	@shift_deleted BIT,
	@shift_allow SMALLINT,
	@shift_allow_out SMALLINT,
	@shift_withbreak BIT = NULL,
	@shift_fbreak NVARCHAR(12) = NULL,
	@shift_tbreak NVARCHAR(12) = NULL,
	@shift_withovertime BIT = NULL,
	@shift_fovertime NVARCHAR(12) = NULL,
	@shift_tovertime NVARCHAR(12) = NULL,
	@shift_OverTimeMinutes INT = NULL,
	@shift_twoshifts BIT = NULL,
	@shift_isnight BIT,
	@IsFH BIT = NULL,
	@shift_FH_from NVARCHAR(12) = NULL,
	@shift_FH_to NVARCHAR(12) = NULL,
	@IsOpenHours BIT = NULL,
	@UserName NVARCHAR(250)
AS
BEGIN
	DECLARE @currentdate INT

	SET @currentdate = dbo.getnofromdate(getdate())

	IF @shift_deleted = 0
	BEGIN
		UPDATE [dbo].[tb_shift]
		SET [shift_name] = @shift_name,
			[shift_fin] = @shift_fin,
			[shift_fout] = @shift_fout,
			[shift_sin] = @shift_sin,
			[shift_sout] = @shift_sout,
			[shift_off] = @shift_off,
			[shift_deleted] = @shift_deleted,
			[shift_allow] = @shift_allow,
			[shift_allow_out] = @shift_allow_out,
			shift_withbreak = @shift_withbreak,
			IsFH = CASE 
				WHEN @IsFH IS NULL
					THEN IsFH
				ELSE @IsFH
				END,
			shift_FH_from = CASE 
				WHEN @shift_FH_from IS NULL
					THEN shift_FH_from
				ELSE @shift_FH_from
				END,
			shift_FH_to = CASE 
				WHEN @shift_FH_to IS NULL
					THEN shift_FH_to
				ELSE @shift_FH_to
				END,
			IsOpenHours = CASE 
				WHEN @IsOpenHours IS NULL
					THEN IsOpenHours
				ELSE @IsOpenHours
				END,
			shift_fbreak = CASE 
				WHEN @shift_withbreak = 1
					THEN @shift_fbreak
				ELSE NULL
				END,
			shift_tbreak = CASE 
				WHEN @shift_withbreak = 1
					THEN @shift_tbreak
				ELSE NULL
				END,
			shift_withovertime = @shift_withovertime,
			shift_fovertime = CASE 
				WHEN @shift_withovertime = 1
					THEN @shift_fovertime
				ELSE NULL
				END,
			shift_tovertime = CASE 
				WHEN @shift_withovertime = 1
					THEN @shift_tovertime
				ELSE NULL
				END,
			shift_OverTimeMinutes = CASE 
				WHEN @shift_withovertime = 1
					THEN @shift_OverTimeMinutes
				ELSE NULL
				END,
			shift_twoshifts = @shift_twoshifts,
			shift_isnight = @shift_isnight
		WHERE shift_id = @shift_id

		EXEC spsaveuserlog 7,
			@shift_id,
			2,
			@UserName,
			0,
			@shift_name,
			@currentdate
	END
END

IF @shift_deleted = 1
BEGIN
	UPDATE [dbo].[tb_shift]
	SET [shift_deleted] = @shift_deleted
	WHERE shift_id = @shift_id

	EXEC spsaveuserlog 7,
		@shift_id,
		1,
		@UserName,
		0,
		@shift_name,
		@currentdate
END
GO
ALTER PROCEDURE [dbo].[spinsertshift] @shift_name NVARCHAR(250),
	@shift_fin NVARCHAR(50),
	@shift_fout NVARCHAR(50),
	@shift_sin NVARCHAR(50) = '--:--',
	@shift_sout NVARCHAR(50) = '--:--',
	@shift_off BIT,
	@shift_deleted BIT,
	@shift_allow SMALLINT,
	@shift_allow_out SMALLINT,
	@shift_withbreak BIT = NULL,
	@shift_fbreak NVARCHAR(12) = NULL,
	@shift_tbreak NVARCHAR(12) = NULL,
	@shift_withovertime BIT = NULL,
	@shift_fovertime NVARCHAR(12) = NULL,
	@shift_tovertime NVARCHAR(12) = NULL,
	@shift_OverTimeMinutes INT = NULL,
	@shift_twoshifts BIT = NULL,
	@shift_isnight BIT,
	@IsFH BIT = NULL,
	@shift_FH_from NVARCHAR(12) = NULL,
	@shift_FH_to NVARCHAR(12) = NULL,
	@UserName NVARCHAR(250),
	@IsOpenHours BIT = NULL
AS
BEGIN
	INSERT INTO [dbo].[tb_shift] (
		[shift_name],
		[shift_fin],
		[shift_fout],
		[shift_sin],
		[shift_sout],
		[shift_off],
		[shift_deleted],
		[shift_allow],
		[shift_allow_out],
		shift_withbreak,
		shift_fbreak,
		shift_tbreak,
		shift_withovertime,
		shift_fovertime,
		shift_tovertime,
		shift_OverTimeMinutes,
		shift_twoshifts,
		shift_isnight,
		IsFH,
		shift_FH_from,
		shift_FH_to,
		IsOpenHours
		)
	VALUES (
		@shift_name,
		@shift_fin,
		@shift_fout,
		@shift_sin,
		@shift_sout,
		@shift_off,
		@shift_deleted,
		@shift_allow,
		@shift_allow_out,
		@shift_withbreak,
		CASE 
			WHEN @shift_withbreak = 1
				THEN @shift_fbreak
			ELSE NULL
			END,
		CASE 
			WHEN @shift_withbreak = 1
				THEN @shift_tbreak
			ELSE NULL
			END,
		@shift_withovertime,
		CASE 
			WHEN @shift_withovertime = 1
				THEN @shift_fovertime
			ELSE NULL
			END,
		CASE 
			WHEN @shift_withovertime = 1
				THEN @shift_tovertime
			ELSE NULL
			END,
		CASE 
			WHEN @shift_withovertime = 1
				THEN @shift_OverTimeMinutes
			ELSE NULL
			END,
		@shift_twoshifts,
		@shift_isnight,
		@IsFH,
		@shift_FH_from,
		@shift_FH_to,
		@IsOpenHours
		)

	DECLARE @currentdate INT,
		@NewID INT

	SELECT @currentdate = dbo.getnofromdate(getdate()),
		@NewID = @@identity

	EXEC spsaveuserlog 7,
		@NewID,
		3,
		@UserName,
		0,
		@shift_name,
		@currentdate

	RETURN @NewID
END
GO
ALTER PROCEDURE [dbo].[schGroupGetByID] @schGroup_id INT
AS
BEGIN
	SELECT tb_schGroup.*,
		isnull(dbo.GetDateAsStringSqlFormat(tb_schGroup.sch_startdate), '') StartDate,
		isnull(dbo.GetDateAsStringSqlFormat(tb_schGroup.sch_enddate), '') EndDate,
		cast(CASE 
				WHEN tb_schGroup.sch_startdate IS NULL
					THEN 0
				ELSE 1
				END AS BIT) IsApply,
		tb_schedule.sch_name
	FROM tb_schGroup
	INNER JOIN tb_schedule
		ON tb_schedule.sch_id = tb_schGroup.sch_id
	WHERE schGroup_id = @schGroup_id
END
GO
ALTER PROCEDURE [dbo].[spinsertschedule] @sch_name NVARCHAR(250),
	@sch_oneshift BIT,
	@sch_desc NVARCHAR(max),
	@sch_1 INT,
	@sch_2 INT,
	@sch_3 INT,
	@sch_4 INT,
	@sch_5 INT,
	@sch_6 INT,
	@sch_7 INT,
	@sch_delete BIT,
	@UserName NVARCHAR(250)
AS
BEGIN
	DECLARE @isnight BIT,
		@id INT

	INSERT INTO [dbo].[tb_schedule] (
		[sch_name],
		[sch_oneshift],
		[sch_desc],
		[sch_1],
		[sch_2],
		[sch_3],
		[sch_4],
		[sch_5],
		[sch_6],
		[sch_7],
		[sch_delete]
		)
	VALUES (
		@sch_name,
		@sch_oneshift,
		@sch_desc,
		@sch_1,
		@sch_2,
		@sch_3,
		@sch_4,
		@sch_5,
		@sch_6,
		@sch_7,
		@sch_delete
		)

	SELECT @id = @@IDENTITY

	SET @isnight = 0

	SELECT @isnight = CASE 
			WHEN EXISTS (
					SELECT 1
					FROM tb_shift
					WHERE shift_id = @sch_1 AND shift_fin > shift_fout
					)
				THEN 1
			WHEN EXISTS (
					SELECT 1
					FROM tb_shift
					WHERE shift_id = @sch_2 AND shift_fin > shift_fout
					)
				THEN 1
			WHEN EXISTS (
					SELECT 1
					FROM tb_shift
					WHERE shift_id = @sch_3 AND shift_fin > shift_fout
					)
				THEN 1
			WHEN EXISTS (
					SELECT 1
					FROM tb_shift
					WHERE shift_id = @sch_4 AND shift_fin > shift_fout
					)
				THEN 1
			WHEN EXISTS (
					SELECT 1
					FROM tb_shift
					WHERE shift_id = @sch_5 AND shift_fin > shift_fout
					)
				THEN 1
			WHEN EXISTS (
					SELECT 1
					FROM tb_shift
					WHERE shift_id = @sch_6 AND shift_fin > shift_fout
					)
				THEN 1
			WHEN EXISTS (
					SELECT 1
					FROM tb_shift
					WHERE shift_id = @sch_7 AND shift_fin > shift_fout
					)
				THEN 1
			ELSE 0
			END

	UPDATE tb_schedule
	SET sch_isnight = @isnight
	WHERE sch_id = @id

	DECLARE @currentdate INT

	SET @currentdate = dbo.getnofromdate(getdate())

	EXEC spsaveuserlog 6,
		@id,
		3,
		@UserName,
		0,
		@sch_name,
		@currentdate

	RETURN @id
END
GO
ALTER PROCEDURE [dbo].[spGetEmployeeBySec] @sec_id INT = 0,
	@username NVARCHAR(100) = NULL,
	@reg_id INT = NULL,
	@RowFilter NVARCHAR(max) = NULL,
	@DisplayLength AS INT = NULL,
	@DisplayStart AS INT = NULL,
	@OrderBy AS NVARCHAR(50) = NULL,
	@OrderDir AS NVARCHAR(10) = NULL
AS
BEGIN
	IF @DisplayLength IS NULL
	BEGIN
		IF @sec_id <= 0
			SELECT emp.*,
				cast(emp.[emp_card] AS NVARCHAR(10)) emp_cardNvc,
				Sec.sec_Name,
				Reg.reg_name,
				Sch.sch_name
			FROM [tb_employee] emp
			INNER JOIN dbo.GetEmployeeByUserRegion(@username) empreg
				ON emp.emp_id = empreg.emp_id
			INNER JOIN tb_section Sec
				ON emp.emp_section = Sec.sec_ID
			INNER JOIN tb_Regions Reg
				ON emp.emp_region = Reg.reg_id
			INNER JOIN tb_schedule Sch
				ON emp.emp_sch = sch_id
			WHERE emp_deleted = 0 AND (@reg_id IS NULL OR emp_region = @reg_id)
			ORDER BY emp_no,
				emp_name
		ELSE
			SELECT emp.*,
				cast(emp.[emp_card] AS NVARCHAR(10)) emp_cardNvc,
				Sec.sec_Name,
				Reg.reg_name,
				Sch.sch_name
			FROM dbo.GetAllEmployeeByMainSec(@sec_id) emp
			INNER JOIN dbo.GetEmployeeByUserRegion(@username) empreg
				ON emp.emp_id = empreg.emp_id
			INNER JOIN tb_section Sec
				ON emp.emp_section = Sec.sec_ID
			INNER JOIN tb_Regions Reg
				ON emp.emp_region = Reg.reg_id
			INNER JOIN tb_schedule Sch
				ON emp.emp_sch = sch_id
			WHERE emp.emp_deleted = 0 AND (@reg_id IS NULL OR emp_region = @reg_id)
			ORDER BY emp.emp_no,
				emp.emp_name
	END
	ELSE
	BEGIN
		DECLARE @sql NVARCHAR(max),
			@Filter NVARCHAR(max),
			@Order NVARCHAR(max),
			@User NVARCHAR(150)
		DECLARE @FirstRecord NVARCHAR(500),
			@LastRecord NVARCHAR(500),
			@RegFilter NVARCHAR(500)

		SELECT @FirstRecord = cast(@DisplayStart AS VARCHAR),
			@LastRecord = cast((@DisplayStart + @DisplayLength) AS VARCHAR),
			@Filter = CASE 
				WHEN @RowFilter IS NULL
					THEN ''
				ELSE 'And (emp_no like N''%' + @RowFilter + '%'' or emp_name like N''%' + @RowFilter + '%'' or sec_Name like N''%' + @RowFilter + '%'' or reg_name like N''%' + @RowFilter + '%'')'
				END,
			@Order = CASE 
				WHEN @OrderBy IS NULL
					THEN 'emp_no'
				ELSE @OrderBy + ' ' + @OrderDir
				END,
			@User = @username,
			@RegFilter = CASE 
				WHEN @reg_id IS NULL
					THEN ''
				ELSE 'AND (' + cast(@reg_id AS NVARCHAR(50)) + ')'
				END

		IF @sec_id <= 0
			SELECT @sql = 'With CTE_EMPLOYEES as (
		SELECT emp.*, ROW_NUMBER() OVER ( ORDER BY ' + @Order + ' ) AS RowNum,Count(*) over() as TotalRecord,
			cast(emp.[emp_card] AS NVARCHAR(10)) emp_cardNvc,
			Sec.sec_Name,
			Reg.reg_name,
			Sch.sch_name
		FROM [tb_employee] emp
		INNER JOIN dbo.GetEmployeeByUserRegion(''' + @User + ''') empreg
			ON emp.emp_id = empreg.emp_id
		INNER JOIN tb_section Sec
			ON emp.emp_section = Sec.sec_ID
		INNER JOIN tb_Regions Reg
			ON emp.emp_region = Reg.reg_id
		INNER JOIN tb_schedule Sch
			ON emp.emp_sch = sch_id
		WHERE (emp_deleted = 0)' + @RegFilter + ' ' + @Filter + ')
		select * from CTE_EMPLOYEES
		Where RowNum >' + @FirstRecord + ' and RowNum <= ' + @LastRecord
		ELSE
			SELECT @sql = 'With CTE_EMPLOYEES as (
		SELECT emp.*, ROW_NUMBER() OVER ( ORDER BY ' + @Order + ' ) AS RowNum,Count(*) over() as TotalRecord,
			cast(emp.[emp_card] AS NVARCHAR(10)) emp_cardNvc,
			Sec.sec_Name,
			Reg.reg_name,
			Sch.sch_name
		FROM dbo.GetAllEmployeeByMainSec(' + cast(@sec_id AS NVARCHAR(10)) + ') emp
		INNER JOIN dbo.GetEmployeeByUserRegion(''' + @User + ''') empreg
			ON emp.emp_id = empreg.emp_id
		INNER JOIN tb_section Sec
			ON emp.emp_section = Sec.sec_ID
		INNER JOIN tb_Regions Reg
			ON emp.emp_region = Reg.reg_id
		INNER JOIN tb_schedule Sch
			ON emp.emp_sch = sch_id
			WHERE (emp_deleted = 0)' + @RegFilter + ' ' + @Filter + ')select * from CTE_EMPLOYEES
		Where RowNum >' + @FirstRecord + ' and RowNum <= ' + @LastRecord

		PRINT @sql

		EXEC (@sql)
	END
END
GO
ALTER PROCEDURE [dbo].[spinsertRegions] @reg_id BIGINT,
	@reg_name NVARCHAR(150),
	@UserName NVARCHAR(150)
AS
BEGIN
	DECLARE @RowsEffect INT,
		@userid INT,
		@permtype SMALLINT

	IF EXISTS (
			SELECT 1
			FROM tb_Regions
			WHERE reg_id = @reg_id
			)
		RETURN - 2
	ELSE
	BEGIN
		INSERT INTO tb_Regions (
			reg_id,
			reg_name
			)
		VALUES (
			@reg_id,
			@reg_name
			)

		SELECT @RowsEffect = @@rowcount

		SELECT @userid = [user_id],
			@permtype = user_per
		FROM tb_users
		WHERE [user_name] = @UserName

		IF @permtype IS NOT NULL
			INSERT INTO tb_UsersRegions (
				[user_id],
				[reg_id]
				)
			SELECT @userid,
				@reg_id
			WHERE @permtype <> 1

		DECLARE @currentdate INT

		SELECT @currentdate = dbo.getnofromdate(getdate())

		EXEC spsaveuserlog 12,
			@reg_id,
			3,
			@UserName,
			0,
			@reg_name,
			@currentdate

		RETURN @RowsEffect
	END
END
GO
ALTER PROCEDURE [dbo].[spupdateRegions] @currentid BIGINT,
	@reg_id BIGINT,
	@reg_name NVARCHAR(150),
	@UserName NVARCHAR(150)
AS
BEGIN
	DECLARE @RowsEffect INT,
		@currentdate INT

	IF EXISTS (
			SELECT 1
			FROM tb_Regions
			WHERE reg_id = @reg_id AND @currentid <> reg_id
			)
		RETURN - 2
	ELSE
	BEGIN
		UPDATE tb_Regions
		SET reg_id = @reg_id,
			reg_name = @reg_name
		WHERE reg_id = @currentid

		SELECT @RowsEffect = @@rowcount,
			@currentdate = dbo.getnofromdate(getdate())

		IF @currentid <> @reg_id
		BEGIN
			UPDATE tb_employee
			SET emp_region = @reg_id
			WHERE emp_region = @currentid

			UPDATE [tb_UsersRegions]
			SET reg_id = @reg_id
			WHERE reg_id = @currentid
		END

		EXEC spsaveuserlog 12,
			@currentid,
			2,
			@UserName,
			0,
			@reg_name,
			@currentdate

		RETURN @RowsEffect
	END
END
GO
ALTER PROCEDURE [dbo].[spinsertuptTransReason] @uptTransReason_name NVARCHAR(250),
	@uptTransReason_Type INT = 1,
	@UserName NVARCHAR(150) = NULL
AS
BEGIN
	DECLARE @ID INT,
		@currentdate INT

	INSERT INTO [dbo].[tb_uptTransReason] (
		uptTransReason_name,
		uptTransReason_Type
		)
	VALUES (
		@uptTransReason_name,
		@uptTransReason_Type
		)

	SELECT @ID = @@IDENTITY

	IF @UserName IS NOT NULL
	BEGIN
		SELECT @currentdate = dbo.getnofromdate(getdate())

		EXEC spsaveuserlog 13,
			@ID,
			3,
			@UserName,
			0,
			@uptTransReason_name,
			@currentdate
	END

	RETURN @ID
END
GO
ALTER PROCEDURE [dbo].[spupdateuptTransReason] @uptTransReason_id INT,
	@uptTransReason_name NVARCHAR(250),
	@uptTransReason_Type INT = 1,
	@UserName NVARCHAR(150) = NULL
AS
BEGIN
	DECLARE @currentdate INT

	UPDATE [dbo].[tb_uptTransReason]
	SET [uptTransReason_name] = @uptTransReason_name,
		uptTransReason_Type = @uptTransReason_Type
	WHERE uptTransReason_id = @uptTransReason_id

	IF @UserName IS NOT NULL
	BEGIN
		SELECT @currentdate = dbo.getnofromdate(getdate())

		EXEC spsaveuserlog 13,
			@uptTransReason_id,
			2,
			@UserName,
			0,
			@uptTransReason_name,
			@currentdate
	END

	RETURN 1
END
GO
ALTER PROCEDURE [dbo].[spdeleteuptTransReason] @uptTransReason_id INT,
	@UserName NVARCHAR(150) = NULL
AS
BEGIN
	IF (
			SELECT count(1)
			FROM dbo.tb_translog
			WHERE TransReasonID = @uptTransReason_id
			) > 0
		RETURN 0
	ELSE
	BEGIN
		DECLARE @Name NVARCHAR(200),
			@currentdate INT

		IF @UserName IS NOT NULL
			SELECT @currentdate = dbo.getnofromdate(getdate()),
				@Name = uptTransReason_name
			FROM tb_uptTransReason
			WHERE uptTransReason_id = @uptTransReason_id

		DELETE
		FROM [dbo].[tb_uptTransReason]
		WHERE uptTransReason_id = @uptTransReason_id

		IF @UserName IS NOT NULL
			EXEC spsaveuserlog 13,
				@uptTransReason_id,
				1,
				@UserName,
				0,
				@Name,
				@currentdate

		RETURN 1
	END
END
GO
ALTER PROCEDURE [dbo].[spregeneratetranssummery] (
	@m_id BIGINT
	,@m_date BIGINT
	,@manual bit=0
	)
AS
BEGIN
	DECLARE @Mintrans_id BIGINT
		,@Maxtrans_id BIGINT
		,@Min_Time VARCHAR(8)
		,@Max_Time VARCHAR(8)
	DECLARE @Count INT
	SET @Count = (
			SELECT COUNT(1)
			FROM [tb_trans]
			WHERE m_date = @m_date
				AND m_id = @m_id
				AND m_deleted = 0
			)
	IF @Count = 0
	BEGIN
		UPDATE tb_transSummey
		SET m_timefin = N'--:--'
			,m_timefout = N'--:--'
			,m_manual=case when m_manual=0 then @manual else 1 end
		WHERE m_date = @m_date
			AND m_id = @m_id
	END
	ELSE
		IF @Count = 1
		BEGIN
			SELECT @Min_Time = m_time
			FROM [tb_trans]
			WHERE m_date = @m_date
				AND m_id = @m_id
				AND m_deleted = 0
			UPDATE tb_transSummey
			SET m_timefin = @Min_Time
				,m_timefout = N'--:--'
				,m_manual=case when m_manual=0 then @manual else 1 end
			WHERE m_date = @m_date
				AND m_id = @m_id
		END
		ELSE
		BEGIN
			SELECT @Min_Time = cast(min(DATEADD(day, DATEDIFF(day, 0, dbo.getdatefromno(isnull(acc_date, m_date))), cast(m_time AS DATETIME))) AS TIME),
			@Max_Time =cast(max(DATEADD(day, DATEDIFF(day, 0, dbo.getdatefromno(isnull(acc_date, m_date))), cast(m_time AS DATETIME))) AS TIME)
			FROM [tb_trans]
			WHERE m_date = @m_date
				AND m_id = @m_id
				AND m_deleted = 0
			UPDATE tb_transSummey
			SET m_timefin = @Min_Time
				,m_timefout = @Max_Time
				,m_manual=case when m_manual=0 then @manual else 1 end
			WHERE m_date = @m_date
				AND m_id = @m_id
		END
	EXEC dbo.sprecalculatetranssummery @m_id
		,@m_date
		,NULL
		,NULL
		,@manual
END
GO
ALTER PROCEDURE [dbo].[spupdatetrans] @trans_id BIGINT,
	@m_time NVARCHAR(12),
	@m_transtype INT,
	@ModifiedReasonID INT,
	@CV_CODE INT = NULL,
	@UserName NVARCHAR(250) = NULL,
	@Acc_Date INT = NULL
AS
BEGIN
	DECLARE @m_id INT,
		@m_date BIGINT,
		@old_m_time VARCHAR(12),
		@old_m_transtype INT

	SELECT @m_id = m_id,
		@m_date = m_date,
		@old_m_transtype = m_transtype,
		@old_m_time = m_time
	FROM tb_trans
	WHERE trans_id = @trans_id

	UPDATE [dbo].[tb_trans]
	SET m_time = @m_time,
		m_manual = 1,
		m_transtype = @m_transtype,
		acc_date = @Acc_Date
	WHERE trans_id = @trans_id

	INSERT INTO tb_translog (
		[trans_id],
		[m_timeModified],
		[ModifiedReason],
		[ModifiedBy],
		[ModifiedDate],
		[transtype],
		[m_timeNew],
		[TransReasonID]
		)
	SELECT @trans_id,
		@old_m_time,
		NULL,
		@UserName,
		@m_date,
		2,
		@m_time,
		@ModifiedReasonID

	EXEC spregeneratetranssummery @m_id,
		@m_date,1

	DECLARE @empname NVARCHAR(200)

	SET @empname = (
			SELECT emp_name
			FROM tb_employee
			WHERE emp_card = @m_id
			)

	EXEC spsaveuserlog 8,
		@trans_id,
		2,
		@UserName,
		1,
		@empname,
		@m_date,
		NULL,
		NULL,
		@old_m_time,
		@m_time
END 
GO
ALTER PROCEDURE [dbo].[spinserttrans] @emp_id INT,
	@m_date INT,
	@m_time AS NVARCHAR(12),
	@m_unit INT = NULL,
	@m_mode SMALLINT,
	@m_transtype INT,
	@ModifiedReasonID INT,
	@UserName NVARCHAR(250) = NULL,
	@CV_Code INT = NULL,
	@Acc_Date INT = NULL
AS
BEGIN TRANSACTION;

BEGIN TRY
	DECLARE @m_id BIGINT,
		@empname NVARCHAR(200),
		@manule BIT

	SET @manule = 1 --cast(@m_mode AS BIT)

	SELECT @m_id = emp_card,
		@empname = emp_name
	FROM tb_employee
	WHERE emp_id = @emp_id

	IF @m_id IS NULL
		RETURN

	SELECT @m_mode = max(m_mode)
	FROM tb_trans
	WHERE m_id = @m_id AND m_date = @m_date

	SET @m_mode = ISNULL(@m_mode, 0) + 1

	DECLARE @new_transid BIGINT

	INSERT INTO tb_trans (
		m_id,
		m_date,
		m_time,
		m_status,
		m_unitid,
		m_typ,
		m_deleted,
		m_mode,
		m_manual,
		m_transtype,
		CV_Code,
		acc_date
		)
	VALUES (
		@m_id,
		@m_date,
		@m_time,
		1,
		@m_unit,
		1,
		0,
		@m_mode,
		@manule,
		@m_transtype,
		@CV_Code,
		@Acc_Date
		)

	SET @new_transid = @@identity

	INSERT INTO tb_translog (
		[trans_id],
		[m_timeModified],
		[ModifiedReason],
		[ModifiedBy],
		[ModifiedDate],
		[transtype],
		[m_timeNew],
		[TransReasonID]
		)
	SELECT @new_transid,
		@m_time,
		NULL,
		@UserName,
		@m_date,
		1,
		@m_time,
		@ModifiedReasonID

	EXEC dbo.spsavetranssummery  @m_id
			,@m_time
			,@m_date
			,@emp_id

	EXEC spsaveuserlog 8,
		@new_transid,
		3,
		@UserName,
		1,
		@empname,
		@m_date

	IF @@TRANCOUNT > 0
		COMMIT TRANSACTION;

	RETURN @new_transid
END TRY

BEGIN CATCH
	SELECT ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

	IF @@TRANCOUNT > 0
		ROLLBACK TRANSACTION;
END CATCH;
GO
ALTER PROCEDURE [dbo].[spsavetranssummery] (
	@m_id BIGINT
	,@m_time AS NVARCHAR(12)
	,@m_date BIGINT
	,@m_empid BIGINT = NULL
	,@m_manual BIT = 0
	)
AS
BEGIN
	DECLARE @m_timefin VARCHAR(12)
	DECLARE @DiffTime INT
		,@IsNighty BIT
	DECLARE @m_timefout VARCHAR(12)

	IF @m_empid IS NULL
		SELECT @m_empid = emp_id
		FROM tb_employee
		WHERE emp_card = @m_id

	DECLARE @sid INT

	IF NOT EXISTS (
			SELECT 1
			FROM tb_transSummey
			WHERE m_date = @m_date
				AND m_id = @m_id
			)
	BEGIN
		SET @sid = dbo.GeatSchedualID(@m_empid, @m_date)

		INSERT INTO tb_transSummey (
			[m_id]
			,[m_date]
			,[m_timefin]
			,[m_timefout]
			,[m_timetotal]
			,[m_actualtime]
			,[m_latein]
			,[m_overtime]
			,[m_totallate]
			,[m_earlyout]
			,[m_deleted]
			,[m_manual]
			,[m_overtimein]
			,[m_overtimeOut]
			,[m_shiftid]
			,[m_timesin]
			,[m_timesout]
			,[m_flatein]
			,[m_slatein]
			,[m_fearlyout]
			,[m_searlyout]
			,[m_lastcvcode]
			,[m_vac_id]
			)
		SELECT @m_id
			,@m_date
			,@m_time
			,N'--:--'
			,N'--:--'
			,ISNULL(dbo.GetActualTime(@m_empid, @sid, @m_date), N'00:00')
			,ISNULL(dbo.GeatLateIn(@m_empid, @sid, @m_date, @m_time), N'--:--')
			,N'--:--'
			,N'--:--'
			,N'--:--'
			,0
			,@m_manual
			,N'--:--'
			,N'--:--'
			,@sid
			,N'--:--'
			,N'--:--'
			,N'--:--'
			,N'--:--'
			,N'--:--'
			,N'--:--'
			,1
			,dbo.HasVacation(@m_empid, @m_date)
	END
	ELSE
	exec spregeneratetranssummery @m_id,@m_date,@m_manual
END 
GO
ALTER PROCEDURE [dbo].[spdeletetrans] @trans_id BIGINT,
	@m_deleted BIT = NULL,
	@UserName NVARCHAR(250)
AS
BEGIN
	BEGIN TRANSACTION TA
	UPDATE [dbo].[tb_trans]
	SET m_deleted = CASE 
			WHEN m_deleted = 1
				THEN 0
			ELSE 1
			END,
		m_manual = 1
	WHERE trans_id = @trans_id
	DECLARE @MDate BIGINT,
		@MEmpCard BIGINT
	SELECT @MDate = m_date,
		@MEmpCard = m_id
	FROM [tb_trans]
	WHERE trans_id = @trans_id
	EXEC spregeneratetranssummery @MEmpCard,
		@MDate,
		1
	COMMIT TRANSACTION TA
	DECLARE @empname NVARCHAR(100)
	SET @empname = (
			SELECT emp_name
			FROM tb_employee
			WHERE emp_card = @MEmpCard
			)
	EXEC spsaveuserlog 8,
		@trans_id,
		1,
		@UserName,
		1,
		@empname,
		@MDate
END
GO
ALTER PROCEDURE [dbo].[sprecalculatetranssummery] (
	@m_id BIGINT,
	@m_date BIGINT,
	@m_timefin VARCHAR(10) = NULL,
	@m_timefout VARCHAR(10) = NULL,
	@m_manual BIT = 0
	)
AS
BEGIN
	DECLARE @sid INT,
		@m_actualtime NVARCHAR(5),
		@m_empid BIGINT,
		@isManual BIT

	SELECT @m_empid = emp_id
	FROM tb_employee
	WHERE emp_card = @m_id

	SELECT @sid = dbo.GeatSchedualID(@m_empid, @m_date)

	SET @m_actualtime = dbo.GetActualTime(@m_empid, @sid, @m_date)

	IF @m_timefin IS NULL OR @m_timefout IS NULL
		SELECT @m_timefin = m_timefin,
			@m_timefout = m_timefout,
			@isManual = m_manual
		FROM tb_transSummey
		WHERE m_date = @m_date AND m_id = @m_id
	ELSE
		SELECT @isManual = m_manual
		FROM tb_transSummey
		WHERE m_date = @m_date AND m_id = @m_id

	IF @isManual = 1
		SET @m_manual = 1

	IF @m_timefin IS NULL AND @m_timefout IS NULL
		RETURN

	DECLARE @shift_withbreak BIT,
		@shift_fbreak VARCHAR(5),
		@shift_tbreak VARCHAR(5)

	SELECT @shift_withbreak = shift_withbreak,
		@shift_fbreak = shift_fbreak,
		@shift_tbreak = shift_tbreak
	FROM tb_shift
	WHERE shift_id = @sid

	DECLARE @TimeTotal VARCHAR(5)

	IF @shift_withbreak = 0
		SET @TimeTotal = CASE 
				WHEN left(@m_timefin, 5) = N'--:--' OR left(@m_timefout, 5) = N'--:--'
					THEN N'00:00'
				ELSE ISNULL(dbo.GetTimeTotal(@m_timefin, @m_timefout), N'00:00')
				END
	ELSE
		SET @TimeTotal = CASE 
				WHEN left(@m_timefin, 5) = N'--:--' OR left(@m_timefout, 5) = N'--:--'
					THEN N'00:00'
				ELSE ISNULL(dbo.GetTimeTotalWithBreak(@m_timefin, @m_timefout, @shift_fbreak, @shift_tbreak), N'00:00')
				END

	--select @TimeTotal,@sid,@m_actualtime
	DECLARE @tTimeTotal AS VARCHAR(5)

	IF @m_timefin = '--:--' OR @m_timefout = '--:--'
		SET @tTimeTotal = NULL
	ELSE
		SET @tTimeTotal = dbo.GetTimeTotal(@m_timefin, @m_timefout)

	IF @tTimeTotal IS NULL
	BEGIN
		UPDATE tb_transSummey
		SET m_timetotal = N'00:00',
			m_overtime = N'00:00',
			m_totallate = N'--:--',
			m_earlyout = N'--:--',
			m_latein = CASE 
				WHEN left(@m_timefin, 5) = N'--:--'
					THEN N'--:--'
				ELSE ISNULL(dbo.GeatLateIn(@m_empid, @sid, @m_date, @m_timefin), N'--:--')
				END,
			m_actualtime = @m_actualtime,
			m_manual = @m_manual,
			m_vac_id = dbo.HasVacation(@m_empid, @m_date)
		WHERE m_date = @m_date AND m_id = @m_id
	END
	ELSE
	BEGIN
		DECLARE @LateIn NVARCHAR(12),
			@EarlyOut NVARCHAR(12),
			@TotalLate NVARCHAR(12)

		SET @EarlyOut = ISNULL(dbo.GeatEarlyOut(@m_empid, @sid, @m_date, @m_timefin, @m_timefout), N'--:--')
		SET @LateIn = ISNULL(dbo.GeatLateIn(@m_empid, @sid, @m_date, @m_timefin), N'--:--')
		SET @TotalLate = dbo.GetSumTimeTotal(@LateIn, @EarlyOut)

		------------------
		IF @TotalLate IS NOT NULL AND @TotalLate <> '--:--'
		BEGIN
			IF DATEDIFF(minute, @TotalLate, @m_actualtime) < 0
			BEGIN
				SET @TotalLate = @m_actualtime
			END
		END

		-------------------
		-----------Violation مخالفة ----------
		--SET @TimeTotal = dbo.GetTimeSubtractViolation(@TimeTotal, @m_id, @m_date)
		----------------------------------------
		UPDATE tb_transSummey
		SET m_timetotal = @TimeTotal,
			m_overtime = CASE 
				WHEN left(@m_timefout, 5) = N'--:--'
					THEN N'--:--'
				ELSE ISNULL(dbo.GetTimeOver(@m_id, @sid, @m_date, @m_timefin, @m_timefout, @m_actualtime, @TimeTotal), N'--:--')
				END,
			m_totallate = dbo.ApplayExecuseHours(@m_empid, @m_date, @sid, @TotalLate, @TimeTotal),
			m_earlyout = CASE 
				WHEN left(@m_timefout, 5) = N'--:--'
					THEN N'--:--'
				ELSE @EarlyOut
				END,
			m_latein = @LateIn,
			m_actualtime = @m_actualtime,
			m_manual = @m_manual,
			m_vac_id = dbo.HasVacation(@m_empid, @m_date)
		WHERE m_date = @m_date AND m_id = @m_id
	END

	IF @m_date < dbo.getnofromdate(getdate())
	BEGIN
		SET @m_date = @m_date + 1

		EXEC spUpdateIncomplete @m_id,
			@m_date
	END
END
GO
ALTER PROCEDURE [dbo].[spdeleteexecuse] @exc_id INT
	,@UserName NVARCHAR(250)
AS
BEGIN
	BEGIN TRAN TAdeleteexecuse
	UPDATE tb_execuse
	SET exc_deleted = 1,exc_status=0
	WHERE [exc_id] = @exc_id
	DECLARE @m_id BIGINT
		,@m_date INT
		,@emp_id BIGINT
		,@empname NVARCHAR(200)
	SELECT @emp_id = exc_empid
		,@m_date = exc_date
	FROM tb_execuse
	WHERE exc_id = @exc_id
	SELECT @m_id = emp_card
		,@empname = emp_name
	FROM tb_employee
	WHERE emp_id = @emp_id
	 IF @m_id IS NOT NULL 
	   BEGIN
	        IF ISNULL((SELECT cast(value as int) from  tb_setting where SettingID=6),1)> 1
	   	      EXEC sprecalculatetranssummery_twoshifts @m_id,@m_date
	       ELSE
	          EXEC sprecalculatetranssummery @m_id,@m_date 
	   END
	COMMIT TRAN TAdeleteexecuse
	EXEC spsaveuserlog 1
		,@exc_id
		,1
		,@UserName
		,1
		,@empname
		,@m_date
END
GO
ALTER PROCEDURE [dbo].[spcheckallemplyeeshavetrans]
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @c_date INT,
		@lastUpdateDate INT,
		@sid INT,
		@TransID BIGINT
	SELECT @c_date = dbo.getnofromdate(getdate()),
		@lastUpdateDate = ISNULL((
				SELECT value
				FROM tb_setting(NOLOCK)
				WHERE settingID = 1
				), 0)
	IF @lastUpdateDate < @c_date
	BEGIN
		IF @lastUpdateDate = 0
			SET @lastUpdateDate = @c_date
		ELSE
			SET @lastUpdateDate = @lastUpdateDate + 1
		SELECT emp_card m_id,
			emp_id
		INTO #temp
		FROM tb_employee
		WHERE (emp_deleted = 0 AND emp_violatedException = 0 AND emp_jointype <> 'EJT08')
		--BEGIN TRAN TAaddallemplyee
		WHILE @lastUpdateDate <= @c_date
		BEGIN
			DECLARE @m_id BIGINT,
				@emp_id BIGINT
			DECLARE db_cursor CURSOR
			FOR
			SELECT m_id,
				emp_id
			FROM #temp
			OPEN db_cursor
			FETCH NEXT
			FROM db_cursor
			INTO @m_id,
				@emp_id
			WHILE @@FETCH_STATUS = 0
			BEGIN
				SELECT @TransID = NULL
				EXEC @TransID = spinsertTotransSummey @m_id = @m_id,
					@m_date = @lastUpdateDate,
					@emp_id = @emp_id,
					@sid = @sid,
					@ftime = NULL,
					@ttime = NULL
				IF @TransID > 0
					EXEC spUpdateIncomplete @m_id,
						@lastUpdateDate --,@sid spUpdateIncomplete_twoshifts
				FETCH NEXT
				FROM db_cursor
				INTO @m_id,
					@emp_id
			END
			CLOSE db_cursor
			DEALLOCATE db_cursor
			PRINT 'All employees transactions updated on ' + dbo.getdateasstring(@lastUpdateDate)
			SET @lastUpdateDate = @lastUpdateDate + 1
		END
		DROP TABLE #temp
		UPDATE tb_setting
		SET value = @c_date
		WHERE settingID = 1
		--	COMMIT TRAN TAaddallemplyee
		PRINT 'All employees transactions updated on ' + dbo.getdateasstring(@c_date)
	END
END
GO
ALTER PROCEDURE [dbo].[spinsertexecuse] @exc_empid INT,
	@exc_date INT,
	@exc_ftime NVARCHAR(5),
	@exc_ttime NVARCHAR(5),
	@exc_reason NVARCHAR(MAX),
	@exc_deleted BIT,
	@exc_status BIT,
	@UserName NVARCHAR(250),
	@execuseReason_ID INT,
	@exc_type INT,
	@Approval VARCHAR(5) = NULL
AS
BEGIN
	SET @exc_type = Isnull(@exc_type, 1)
	DECLARE @sid INT,
		@fin NVARCHAR(12),
		@fout NVARCHAR(12),
		@ID INT,
		@ISFH BIT,
		@exc_hours NVARCHAR(5),
		@TransID BIGINT
	SET @sid = dbo.GeatSchedualID(@exc_empid, @exc_date)
	SELECT @fin = shift_fin,
		@fout = shift_fout,
		@ISFH = isnull(IsFH, 0)
	FROM tb_shift
	WHERE shift_id = @sid
	SELECT @exc_hours = dbo.GetTimeTotal(@exc_ftime, @exc_ttime)
	IF (
			SELECT DATEDIFF(minute, @exc_hours, dbo.GetTimeTotal(@fin, @fout))
			) < 0
		SELECT @exc_hours = dbo.GetTimeTotal(@fin, @fout)
	IF (
			SELECT count(exc_empid)
			FROM tb_execuse
			WHERE exc_empid = @exc_empid AND exc_date = @exc_date AND exc_deleted = 0
			) = 0
	BEGIN
		INSERT INTO tb_execuse (
			[exc_empid],
			[exc_date],
			[exc_ftime],
			[exc_ttime],
			[exc_reason],
			[exc_deleted],
			[exc_status],
			[execuseReason_ID],
			[ApprovalByManager],
			[exc_type],
			[exc_hours],
			[exc_minuts],
			[Created],
			[Updated]
			)
		VALUES (
			@exc_empid,
			@exc_date,
			@exc_ftime,
			@exc_ttime,
			@exc_reason,
			@exc_deleted,
			@exc_status,
			@execuseReason_ID,
			CASE 
				WHEN @Approval IS NULL
					THEN (
							CASE 
								WHEN @exc_status = 1
									THEN 'EAS02'
								ELSE 'EAS03'
								END
							)
				ELSE @Approval
				END,
			@exc_type,
			@exc_hours,
			dbo.GetTotalMinutsFromTime(@exc_hours),
			getdate(),
			getdate()
			)
		SET @ID = @@IDENTITY
		DECLARE @m_id BIGINT,
			@empname NVARCHAR(100)
		SELECT @m_id = emp_card,
			@empname = emp_name
		FROM tb_employee
		WHERE emp_id = @exc_empid
		IF @m_id IS NOT NULL
		BEGIN
			IF @exc_type = 2 AND @exc_status = 1 AND @Approval IS NULL
			BEGIN
				DECLARE @m_timefin VARCHAR(12),
					@m_timefout VARCHAR(12)
				SELECT @m_timefout = dbo.GetSumTimeTotal(@fin, @exc_hours)
				EXEC @TransID = spinsertTotransSummey @m_id = @m_id,
					@m_date = @exc_date,
					@emp_id = @exc_empid,
					@sid = @sid,
					@ftime = @fin,
					@ttime = @m_timefout
				IF @TransID > 0
				BEGIN
					SELECT @m_timefin = NULL,
						@m_timefout = NULL
					SELECT @m_timefin = m_timefin,
						@m_timefout = m_timefout
					FROM tb_transSummey
					WHERE ID = @TransID
					IF @m_timefin IS NULL OR @m_timefin = '--:--'
					BEGIN
						UPDATE tb_transSummey
						SET m_timefin = @fin,
							m_timefout = dbo.GetSumTimeTotal(@fin, @exc_hours)
						WHERE ID=@TransID
					END -- if @m_timefin is null or @m_timefin='--:--'
					ELSE IF @m_timefout IS NULL OR @m_timefout = '--:--'
					BEGIN
						UPDATE tb_transSummey
						SET m_timefout = dbo.GetSumTimeTotal(@fin, @exc_hours)
						WHERE ID=@TransID
					END --  if @m_timefout is null or @m_timefout='--:--'
				END
			END
			EXEC sprecalculatetranssummery @m_id,
				@exc_date,
				NULL,
				NULL,
				0
		END
		EXEC spsaveuserlog 1,
			@ID,
			3,
			@UserName,
			1,
			@empname,
			@exc_date
		RETURN @ID
	END
	ELSE
		RETURN 0
END
GO
ALTER PROCEDURE [dbo].[spupdateexecuse] @exc_id INT,
	@exc_date INT,
	@exc_ftime NVARCHAR(5),
	@exc_ttime NVARCHAR(5),
	@exc_reason NVARCHAR(MAX),
	@exc_status BIT,
	@UserName NVARCHAR(250),
	@execuseReason_ID INT,
	@Approval VARCHAR(5) = NULL
AS
BEGIN
	DECLARE @sid INT,
		@fin NVARCHAR(12),
		@fout NVARCHAR(12),
		@ID INT,
		@ISFH BIT,
		@exc_hours NVARCHAR(5),
		@exc_empid INT,
		@m_date INT,
		@exc_type INT,
		@TransID BIGINT
	SELECT @exc_empid = exc_empid,
		@exc_type = exc_type,
		@m_date = exc_date
	FROM tb_execuse
	WHERE exc_id = @exc_id
	IF (
			SELECT count(exc_empid)
			FROM tb_execuse
			WHERE exc_empid = @exc_empid AND exc_date = @exc_date AND exc_deleted = 0 AND exc_id <> @exc_id
			) > 0
		RETURN - 2
	SET @sid = dbo.GeatSchedualID(@exc_empid, @exc_date)
	SELECT @fin = shift_fin,
		@fout = shift_fout,
		@ISFH = isnull(IsFH, 0)
	FROM tb_shift
	WHERE shift_id = @sid
	SELECT @exc_hours = dbo.GetTimeTotal(@exc_ftime, @exc_ttime)
	IF (
			SELECT DATEDIFF(minute, @exc_hours, dbo.GetTimeTotal(@fin, @fout))
			) < 0
		SELECT @exc_hours = dbo.GetTimeTotal(@fin, @fout)
	UPDATE tb_execuse
	SET [exc_date] = @exc_date,
		[exc_ftime] = @exc_ftime,
		[exc_ttime] = @exc_ttime,
		[exc_reason] = @exc_reason,
		[exc_status] = @exc_status,
		execuseReason_ID = @execuseReason_ID,
		ApprovalByManager = CASE 
			WHEN @Approval IS NULL
				THEN (
						CASE 
							WHEN @exc_status = 1
								THEN 'EAS02'
							ELSE 'EAS03'
							END
						)
			ELSE @Approval
			END,
		Updated = getdate()
	WHERE [exc_id] = @exc_id
	DECLARE @m_id BIGINT,
		@empname NVARCHAR(100)
	SELECT @m_id = emp_card,
		@empname = emp_name
	FROM tb_employee
	WHERE emp_id = @exc_empid
	IF @m_id IS NOT NULL
	BEGIN
		IF @exc_type = 2 AND @exc_status = 1 AND @Approval IS NULL
		BEGIN
			DECLARE @m_timefin VARCHAR(12),
				@m_timefout VARCHAR(12)
			SELECT @m_timefout = dbo.GetSumTimeTotal(@fin, @exc_hours)
			EXEC @TransID = spinsertTotransSummey @m_id = @m_id,
				@m_date = @exc_date,
				@emp_id = @exc_empid,
				@sid = @sid,
				@ftime = @fin,
				@ttime = @m_timefout
			IF @TransID > 0
			BEGIN
				SELECT @m_timefin = NULL,
					@m_timefout = NULL
				SELECT @m_timefin = m_timefin,
					@m_timefout = m_timefout
				FROM tb_transSummey
				WHERE ID = @TransID
				IF @m_timefin IS NULL OR @m_timefin = '--:--'
				BEGIN
					UPDATE tb_transSummey
					SET m_timefin = @fin,
						m_timefout = dbo.GetSumTimeTotal(@fin, @exc_hours)
					WHERE ID = @TransID
				END -- if @m_timefin is null or @m_timefin='--:--'
				ELSE IF @m_timefout IS NULL OR @m_timefout = '--:--'
				BEGIN
					UPDATE tb_transSummey
					SET m_timefout = dbo.GetSumTimeTotal(@fin, @exc_hours)
					WHERE ID = @TransID
				END --  if @m_timefout is null or @m_timefout='--:--'
			END
		END
		EXEC sprecalculatetranssummery @m_id,
			@m_date,
			NULL,
			NULL,
			0
	END
	EXEC spsaveuserlog 1,
		@exc_id,
		2,
		@UserName,
		1,
		@empname,
		@exc_date
	RETURN 1
END
GO
ALTER PROCEDURE [dbo].[TimeAtt_spinsertexecuseFromManager] @exc_empid INT,
	@exc_date INT,
	@exc_ftime NVARCHAR(5),
	@exc_ttime NVARCHAR(5),
	@exc_reason NVARCHAR(MAX),
	@UserName NVARCHAR(250),
	@execuseReason_ID INT,
	@exc_type INT
AS
BEGIN
	SET @exc_type = Isnull(@exc_type, 1)
	DECLARE @sid INT,
		@fin NVARCHAR(12),
		@fout NVARCHAR(12),
		@ID INT,
		@ISFH BIT,
		@exc_hours NVARCHAR(5),
		@TransID BIGINT
	SET @sid = dbo.GeatSchedualID(@exc_empid, @exc_date)
	SELECT @fin = shift_fin,
		@fout = shift_fout,
		@ISFH = isnull(IsFH, 0)
	FROM tb_shift
	WHERE shift_id = @sid
	SELECT @exc_hours = dbo.GetTimeTotal(@exc_ftime, @exc_ttime)
	IF (
			SELECT DATEDIFF(minute, @exc_hours, dbo.GetTimeTotal(@fin, @fout))
			) < 0
		SELECT @exc_hours = dbo.GetTimeTotal(@fin, @fout)
	IF (
			SELECT count(exc_empid)
			FROM tb_execuse
			WHERE exc_empid = @exc_empid AND exc_date = @exc_date AND exc_deleted = 0
			) = 0
	BEGIN
		INSERT INTO tb_execuse (
			[exc_empid],
			[exc_date],
			[exc_ftime],
			[exc_ttime],
			[exc_reason],
			[exc_deleted],
			[exc_status],
			[execuseReason_ID],
			[ApprovalByManager],
			[exc_type],
			[exc_hours],
			[exc_minuts],
			[Created],
			[Updated]
			)
		VALUES (
			@exc_empid,
			@exc_date,
			@exc_ftime,
			@exc_ttime,
			@exc_reason,
			0,
			1,
			@execuseReason_ID,
			'EAS02',
			@exc_type,
			@exc_hours,
			dbo.GetTotalMinutsFromTime(@exc_hours),
			getdate(),
			getdate()
			)
		SET @ID = @@IDENTITY
		DECLARE @m_id BIGINT,
			@empname NVARCHAR(100)
		SELECT @m_id = emp_card,
			@empname = emp_name
		FROM tb_employee
		WHERE emp_id = @exc_empid
		IF @m_id IS NOT NULL
		BEGIN
			IF @exc_type = 2
			BEGIN
				DECLARE @m_timefin VARCHAR(12),
					@m_timefout VARCHAR(12)
				SELECT @m_timefout = dbo.GetSumTimeTotal(@fin, @exc_hours)
				EXEC @TransID = spinsertTotransSummey @m_id = @m_id,
					@m_date = @exc_date,
					@emp_id = @exc_empid,
					@sid = @sid,
					@ftime = @fin,
					@ttime = @m_timefout
				IF @TransID > 0
				BEGIN
					SELECT @m_timefin = NULL,
						@m_timefout = NULL
					SELECT @m_timefin = m_timefin,
						@m_timefout = m_timefout
					FROM tb_transSummey
					WHERE ID = @TransID
					IF @m_timefin IS NULL OR @m_timefin = '--:--'
					BEGIN
						UPDATE tb_transSummey
						SET m_timefin = @fin,
							m_timefout = dbo.GetSumTimeTotal(@fin, @exc_hours)
						WHERE ID = @TransID
					END -- if @m_timefin is null or @m_timefin='--:--'
					ELSE IF @m_timefout IS NULL OR @m_timefout = '--:--'
					BEGIN
						UPDATE tb_transSummey
						SET m_timefout = dbo.GetSumTimeTotal(@fin, @exc_hours)
						WHERE ID = @TransID
					END --  if @m_timefout is null or @m_timefout='--:--'
				END
			END
			EXEC sprecalculatetranssummery @m_id,
				@exc_date,
				NULL,
				NULL,
				0
		END
		SELECT @empname = @empname + N' By his manager '
		EXEC spsaveuserlog 1,
			@ID,
			3,
			@UserName,
			1,
			@empname,
			@exc_date
		RETURN @ID
	END
	ELSE
		RETURN 0
END
GO
ALTER PROCEDURE [dbo].[TimeAtt_UpdateEmpExecuseFromWorkFlow] @exc_id INT,
	@WFStatus SMALLINT,
	@UserName NVARCHAR(250),
	@Response NVARCHAR(500) OUTPUT
AS
BEGIN
	DECLARE @exc_empid INT,
		@Approval CHAR(5),
		@exc_date INT,
		@m_id BIGINT,
		@exc_type INT,
		@exc_hours NVARCHAR(5),
		@sid INT,
		@fin NVARCHAR(10),
		@fout NVARCHAR(10),
		@TransID BIGINT
	SELECT @exc_empid = exc_empid,
		@Approval = ApprovalByManager,
		@m_id = emp_card,
		@exc_date = exc_date,
		@exc_type = exc_type,
		@exc_hours = exc_hours
	FROM tb_execuse
	INNER JOIN tb_employee
		ON tb_execuse.exc_empid = tb_employee.emp_id
	WHERE exc_id = @exc_id AND exc_deleted = 0
	IF @exc_empid IS NULL
	BEGIN
		SELECT @Response = N'No Execuse found for RefID=' + cast(@exc_id AS NVARCHAR(50))
		RETURN - 1
	END
	IF @Approval <> 'EAS01'
	BEGIN
		SELECT @Response = N'Already Action Taked for Execuse RefID=' + cast(@exc_id AS NVARCHAR(50))
		RETURN - 2
	END
	IF @WFStatus IN (3, 10)
		UPDATE tb_execuse
		SET exc_deleted = 1,
			ApprovalByManager = 'EAS03',
			exc_status = 0,
			Updated = GETDATE()
		WHERE exc_id = @exc_id
	ELSE
	BEGIN
		UPDATE tb_execuse
		SET ApprovalByManager = 'EAS02',
			exc_status = 1,
			Updated = GETDATE()
		WHERE exc_id = @exc_id
		IF @m_id IS NOT NULL
		BEGIN
			IF @exc_type = 2
			BEGIN
				SET @sid = dbo.GeatSchedualID(@exc_empid, @exc_date)
				SELECT @fin = shift_fin,
					@fout = shift_fout
				FROM tb_shift
				WHERE shift_id = @sid
				DECLARE @m_timefin VARCHAR(12),
					@m_timefout VARCHAR(12)
				SELECT @m_timefout = dbo.GetSumTimeTotal(@fin, @exc_hours)
				EXEC @TransID = spinsertTotransSummey @m_id = @m_id,
					@m_date = @exc_date,
					@emp_id = @exc_empid,
					@sid = @sid,
					@ftime = @fin,
					@ttime = @m_timefout
				IF @TransID > 0
				BEGIN
					SELECT @m_timefin = NULL,
						@m_timefout = NULL
					SELECT @m_timefin = m_timefin,
						@m_timefout = m_timefout
					FROM tb_transSummey
					WHERE ID = @TransID
					IF @m_timefin IS NULL OR @m_timefin = '--:--'
					BEGIN
						UPDATE tb_transSummey
						SET m_timefin = @fin,
							m_timefout = dbo.GetSumTimeTotal(@fin, @exc_hours)
						WHERE ID = @TransID
					END -- if @m_timefin is null or @m_timefin='--:--'
					ELSE IF @m_timefout IS NULL OR @m_timefout = '--:--'
					BEGIN
						UPDATE tb_transSummey
						SET m_timefout = dbo.GetSumTimeTotal(@fin, @exc_hours)
						WHERE ID = @TransID
					END --  if @m_timefout is null or @m_timefout='--:--'
				END
			END
			EXEC sprecalculatetranssummery @m_id,
				@exc_date,
				NULL,
				NULL,
				0
		END
	END
	DECLARE @empname NVARCHAR(250)
	SELECT @empname = emp_name
	FROM tb_employee
	WHERE emp_id = @exc_empid
	EXEC spsaveuserlog 1,
		@Exc_ID,
		3,
		@UserName,
		1,
		@empname,
		@exc_date
	SELECT @Response = N'Execuse RefID:' + cast(@exc_id AS NVARCHAR(50)) + N' has been ' + CASE 
			WHEN @WFStatus = 3
				THEN N'Rejected'
			WHEN @WFStatus = 10
				THEN N'Canceled'
			ELSE N'Approved'
			END
	RETURN @exc_id
END
GO
ALTER PROCEDURE [dbo].[spsavetranssummery] (
	@m_id BIGINT,
	@m_time AS NVARCHAR(12),
	@m_date BIGINT,
	@m_empid BIGINT = NULL,
	@m_manual BIT = 0
	)
AS
BEGIN
	DECLARE @m_timefin VARCHAR(12),
		@sid INT,
		@TransID BIGINT
	EXEC @TransID = spinsertTotransSummey @m_id = @m_id,
		@m_date = @m_date,
		@emp_id = @m_empid,
		@sid = NULL,
		@ftime = @m_time,
		@ttime = NULL,
		@m_manual = @m_manual
	IF @TransID > 0
		EXEC spregeneratetranssummery @m_id,
			@m_date,
			@m_manual
END
GO
ALTER PROCEDURE [dbo].[sprecalculatetranssummery] (
	@m_id BIGINT,
	@m_date BIGINT,
	@m_timefin VARCHAR(10) = NULL,
	@m_timefout VARCHAR(10) = NULL,
	@m_manual BIT = 0
	)
AS
BEGIN
	DECLARE @sid INT,
		@m_actualtime NVARCHAR(5),
		@m_empid BIGINT,
		@isManual BIT
	SELECT @m_empid = emp_id
	FROM tb_employee
	WHERE emp_card = @m_id
	SELECT @sid = dbo.GeatSchedualID(@m_empid, @m_date)
	SET @m_actualtime = dbo.GetActualTime(@m_empid, @sid, @m_date)
	IF @m_timefin IS NULL OR @m_timefout IS NULL
		SELECT @m_timefin = m_timefin,
			@m_timefout = m_timefout,
			@isManual = m_manual
		FROM tb_transSummey
		WHERE m_date = @m_date AND m_id = @m_id
	ELSE
		SELECT @isManual = m_manual
		FROM tb_transSummey
		WHERE m_date = @m_date AND m_id = @m_id
	IF @isManual = 1
		SET @m_manual = 1
	UPDATE tb_transSummey
	SET m_vac_id = dbo.HasVacation(@m_empid, @m_date),
		m_exc_id = dbo.HasExecuse(@m_empid, @m_date)
	WHERE m_date = @m_date AND m_id = @m_id
	IF @m_timefin IS NULL AND @m_timefout IS NULL
		RETURN
	DECLARE @shift_withbreak BIT,
		@shift_fbreak VARCHAR(5),
		@shift_tbreak VARCHAR(5)
	SELECT @shift_withbreak = shift_withbreak,
		@shift_fbreak = shift_fbreak,
		@shift_tbreak = shift_tbreak
	FROM tb_shift
	WHERE shift_id = @sid
	DECLARE @TimeTotal VARCHAR(5)
	IF @shift_withbreak = 0
		SET @TimeTotal = CASE 
				WHEN left(@m_timefin, 5) = N'--:--' OR left(@m_timefout, 5) = N'--:--'
					THEN N'00:00'
				ELSE ISNULL(dbo.GetTimeTotal(@m_timefin, @m_timefout), N'00:00')
				END
	ELSE
		SET @TimeTotal = CASE 
				WHEN left(@m_timefin, 5) = N'--:--' OR left(@m_timefout, 5) = N'--:--'
					THEN N'00:00'
				ELSE ISNULL(dbo.GetTimeTotalWithBreak(@m_timefin, @m_timefout, @shift_fbreak, @shift_tbreak), N'00:00')
				END
	--select @TimeTotal,@sid,@m_actualtime
	DECLARE @tTimeTotal AS VARCHAR(5)
	IF @m_timefin = '--:--' OR @m_timefout = '--:--'
		SET @tTimeTotal = NULL
	ELSE
		SET @tTimeTotal = dbo.GetTimeTotal(@m_timefin, @m_timefout)
	IF @tTimeTotal IS NULL
	BEGIN
		UPDATE tb_transSummey
		SET m_timetotal = N'00:00',
			m_overtime = N'00:00',
			m_totallate = N'--:--',
			m_earlyout = N'--:--',
			m_latein = CASE 
				WHEN left(@m_timefin, 5) = N'--:--'
					THEN N'--:--'
				ELSE ISNULL(dbo.GeatLateIn(@m_empid, @sid, @m_date, @m_timefin), N'--:--')
				END,
			m_actualtime = @m_actualtime,
			m_manual = @m_manual
		--m_vac_id = dbo.HasVacation(@m_empid, @m_date),
		--m_exc_id=dbo.HasExecuse(@m_empid, @m_date)
		WHERE m_date = @m_date AND m_id = @m_id
	END
	ELSE
	BEGIN
		DECLARE @LateIn NVARCHAR(12),
			@EarlyOut NVARCHAR(12),
			@TotalLate NVARCHAR(12)
		SET @EarlyOut = ISNULL(dbo.GeatEarlyOut(@m_empid, @sid, @m_date, @m_timefin, @m_timefout), N'--:--')
		SET @LateIn = ISNULL(dbo.GeatLateIn(@m_empid, @sid, @m_date, @m_timefin), N'--:--')
		SET @TotalLate = dbo.GetSumTimeTotal(@LateIn, @EarlyOut)
		------------------
		IF @TotalLate IS NOT NULL AND @TotalLate <> '--:--'
		BEGIN
			IF DATEDIFF(minute, @TotalLate, @m_actualtime) < 0
			BEGIN
				SET @TotalLate = @m_actualtime
			END
		END
		-------------------
		-----------Violation مخالفة ----------
		--SET @TimeTotal = dbo.GetTimeSubtractViolation(@TimeTotal, @m_id, @m_date)
		----------------------------------------
		UPDATE tb_transSummey
		SET m_timetotal = @TimeTotal,
			m_overtime = CASE 
				WHEN left(@m_timefout, 5) = N'--:--'
					THEN N'--:--'
				ELSE ISNULL(dbo.GetTimeOver(@m_id, @sid, @m_date, @m_timefin, @m_timefout, @m_actualtime, @TimeTotal), N'--:--')
				END,
			m_totallate = dbo.ApplayExecuseHours(@m_empid, @m_date, @sid, @TotalLate, @TimeTotal),
			m_earlyout = CASE 
				WHEN left(@m_timefout, 5) = N'--:--'
					THEN N'--:--'
				ELSE @EarlyOut
				END,
			m_latein = @LateIn,
			m_actualtime = @m_actualtime,
			m_manual = @m_manual
		--m_vac_id = dbo.HasVacation(@m_empid, @m_date),
		--m_exc_id=dbo.HasExecuse(@m_empid, @m_date)
		WHERE m_date = @m_date AND m_id = @m_id
	END
	IF @m_date < dbo.getnofromdate(getdate())
	BEGIN
		SET @m_date = @m_date + 1
		EXEC spUpdateIncomplete @m_id,
			@m_date
	END
END
Go
Create PROCEDURE [dbo].[spdoWindlogin_Ext] @user_name NVARCHAR(150)
	
AS
SELECT U.*,
	isnull(E.emp_name, U.user_name) EmpName,
	isnull(E.emp_no, '0') EmpNO
FROM tb_users U
LEFT JOIN tb_employee E
	ON U.user_empid = E.emp_id
WHERE U.user_name = @user_name AND U.user_active = 1
GO
CREATE PROCEDURE TimeAtt_GetDevices
AS
SELECT [id]
	,[uname]
FROM [Bio_Auto].[dbo].[Readers]
ORDER BY uname
GO
