<div id="scroll-container">
    @Html.Raw("<div " + (TimeAttMVC.Helpper.CultureHelper.IsRighToLeft() ? "data-rtl" : "") + " id='SectionsTree'></div>") 
    <div id="SectionsTablediv">
        <table id="SectionsTable" class="table table-striped table-bordered " cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>@Resources.Resources.ClmSctionNo</th>
                    <th>@Resources.Resources.ClmSectionName </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

