<form #f="ngForm" [ngClass]="this.cultureLang == 'ar'? 'form-ar' : 'form-en'" >
    <div class="container PT20">
        <div class="col-md-12">
            <div id="Actiondetailsdiv">
                <div id="Task_formdetails"  *ngIf="TaskInfo?.Response?.Status == 'OK'">
                    <div id="dataform">
                        <div class="Tlf">
                            <div class="Serv-detail">
                                <div class="serv-title">
                                        <label class="serv-nam" id="Task_title">{{'RequestTitle' | translate}}:{{cultureLang == 'ar'? TaskDetails.Title : TaskDetails.TitleEN }}</label>
                                    <div class="rq-num">
                                        <label>{{'RequestNumber' | translate}}</label>
                                        <label id="Task_taskno">{{TaskDetails?.TaskNo}}</label>
                                    </div>
                                </div>
                                <div class="servDetialTBL">
                                    <div class="servDetialHD">
                                        <div class="User">
                                            <label id="Task_ReqEmpID">{{TaskDetails?.Requester_empid}}</label>
                                            <span>-</span>
                                            <label id="Task_requestername">{{TaskDetails?.Requester_fullname}}</label>
                                        </div>
                                        <div class="date">
                                            <label id="Task_createddate">{{TaskDetails?.Created | date: 'dd/MM/yyyy hh:MM a'}}</label>
                                        </div>
                                    </div>
                                    <div class="form-detail">
                                        <label class="cell-3 pr0">{{'LastModifiedReq' | translate}}</label>
                                        <label id="Task_lastupdate">{{TaskDetails?.Updated | date: 'dd/MM/yyyy hh:MM a'}}</label>
                                    </div>
                                    <span id="TaskDetailsBody" [innerHtml]="TaskDetails?.TaskDetailsBody"></span>
                                    <div class="form-detail" *ngIf="AttachURL!=null">
                                        <label class="cell-3 pr0">{{'lblAttach' | translate}}</label>
                                        <a id="Task_Attach" target="_blank" [href]="AttachURL">{{'lblAttach' | translate}}</a>
                                    </div>
                                </div>
                            </div>
                            <div id="Task_HDIV">
                                <div *ngFor="let row of TaskHistory" class='TaskTBL' [ngClass]="GetClassName(row.WFStatus)">
                                    <div class="TaskAll">
                                            <img src="assets/img/dflt.jpg" />
                                        <!-- <span [innerHtml]="row.Userimg"></span> -->
                                        <div class="TaskHD">
                                            <div class="ACTNam">
                                                <label>{{this.cultureLang == 'ar'? row.AName : row.ANameEn}} :</label>
                                                <span> {{row.CurrentUser}} </span>
                                            </div>
                                            <span [innerHtml]="row.Created"> </span>
                                            <div class="ACTSts hidden-xs">
                                                <label>{{(this.cultureLang == 'ar'? row.WFStatus_ar: row.WFStatus_en)}}</label>
                                            </div>
                                        </div>
                                        <div class="TaskCon">
                                            <div class="ACTNot">
                                                <label>{{row.TaskNote}} </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-warning" *ngIf="taskview==null">
                            <label id="Task_desc">{{'TakeAction' | translate}}</label>
                        </div>
                        <div class="form-input" *ngIf="taskview==null">
                            <label>{{'NotesLable' | translate}}</label>
                            <textarea name="tasknote" id="Task_txt_tasknote" [(ngModel)]="tasknote" col="30" rows="10" class="form-control"></textarea>
                            <!-- <asp:TextBox runat="server" ID="Task_txt_tasknote" TextMode="MultiLine" CssClass="multiline" res-type="T" res-name="NotesRejection" ClientIDMode="Static"></asp:TextBox> -->
                        </div>
                        <div class="form-input form-btn" id="clientbutton" *ngIf="taskview==null">
                            <button id="Task_bt_approve" class="btn btn-primary btn-lg" (click)="btnApproveAction()" >{{'ApproveRequest' | translate}}</button>
                            <button id="Task_bt_reject" class="btn btn-lg" (click)="btnRejectAction()">{{'RejectRequest' | translate}}</button>
                            <div class="alert alert-danger" id="Rejecterrmsg" style="display:none"></div>
                            <!-- <input type="button" id="Task_bt_approve" res-type="V" res-name="ApproveRequest" class="btn btn-gold btn-large" >
                            <input type="button" id="Task_bt_reject" res-type="V" res-name="RejectRequest" class="btn btn-gray btn-large" /> -->
                        </div>
                    </div>
                </div>
                <div id="Task_accessdenaied" class="alert alert-danger" *ngIf="TaskInfo?.Response?.Status != 'OK'">
                    <span *ngIf="this.responseMSG == ''" >{{'NotHavePermissionView' | translate}}</span>

                    <label id="Task_msgerr">{{responseMSG}}</label>
                </div>

            </div>
            <div id="TaskActionmsgsuccess" style="display: none">
                <div class="alert alert-success">
                    <span id="tasksuccesscontent"></span>
                    <!-- <div>
                        <div class="cell-6">
                            <p><a href="/" res-type="H" res-name="HomePage"></a></p>
                        </div>
                        <div class="cell-6">
                            <p class="left"><a href="/Tasks/Pages/Tasks.aspx" res-type="H" res-name="PageAssignTask"></a></p>
                        </div>
                    </div> -->
                </div>
            </div>
            <div id="TaskActionmsgerror" style="display: none">
                <div class="alert alert-danger">
                    <span res-type="H" res-name="OopsErrorExecutionRequest"></span>
                    <span id="taskerrorcontent"></span>
                    <!-- <div>
                        <b>
                            <a href="javascript:location.reload(false)" res-type="H" res-name="Clickheretorefreshpageandtryagain"></a>
                        </b>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</form>
<div style="display: none">
    <div id="Task_dialog-confirm-app" [ngClass]="this.cultureLang == 'ar'? 'form-ar' : 'form-en'" class="sp-form">
        <div id="Task_appmsg" class="alert alert-warning">{{'SureApprove' | translate}}</div>
    </div>
</div>
<div style="display: none">
    <div id="Task_dialog-confirm-rej" [ngClass]="this.cultureLang == 'ar'? 'form-ar' : 'form-en'" class="sp-form">
        <div id="rejmsg" class="alert alert-warning">{{'SureReject' | translate}}</div>
    </div>
</div>

<alertmsg #alert backdropModal='static' show-close="true" (onClose)="onCloseAlert($event)" (onOpened)="onOpenAlert()" (onDismissed)="onDismissAlert()">
</alertmsg>