
@{
    ViewBag.Title = "NotAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User != null && User.MustChangePassword == true & User.AuthType!="W")
{
    <h2>@Resources.Resources.MustChangePasswordMsg</h2>
    <script>
    jQuery(function () {
        ChangePassword();
    });
    </script>
}
else
{
    <h2>@Resources.Resources.RequestUnauthorizedMsg</h2>
}

